.row-fluid
  - if pageant.male_and_female?
    .col-sm-6
      %h3.acenter= "Male"
      .row.clearfix
        - if contestants.male.present?
          - contestants.male.sort_by_number.each do |male_contestant|
            .col-sm-12.clearfix.add-bottom
              = render "contestants/contestant", contestant: male_contestant
        - else
          .col-sm-12
            .alert.alert-warning.acenter.add-top
              - if pageant.done?
                No male contestants.
              - else
                No male contestants yet.
                - if pageant.authorized?(current_user)
                  = link_to "Click here to create.", new_pageant_contestant_path(pageant, gender: "male"), class: "no-wrap"
    .col-sm-6
      %h3.acenter= "Female"
      .row.clearfix
        - if contestants.female.present?
          - contestants.female.sort_by_number.each do |female_contestant|
            .col-sm-12.clearfix.add-bottom
              = render "contestants/contestant", contestant: female_contestant
        - else
          .col-sm-12
            .alert.alert-warning.acenter.add-top
              - if pageant.done?
                No female contestants.
              - else
                No female contestants yet.
                - if pageant.authorized?(current_user)
                  = link_to "Click here to create.", new_pageant_contestant_path(pageant, gender: "female"), class: "no-wrap"
  - else
    - if contestants.present?
      - contestants.each do |contestant|
        .col-sm-6.col-md-6.clearfix.add-top-bottom
          = render "contestants/contestant", contestant: contestant
    - else
      .col-sm-12
        .alert.alert-warning.acenter.add-top
          - if pageant.done?
            No contestants.
          - else
            No contestants yet.
            - if pageant.authorized?(current_user)
              = link_to "Click here to create.", new_pageant_contestant_path(pageant), class: "no-wrap"