- pageant = contestant.pageant
.contestant{id: "contestant_#{contestant.id}"}
  .photo
    = link_to pageant_contestant_path(pageant, contestant), data: {no_turbolink: true} do
      - if contestant.photo.present?
        = image_tag contestant.photo.url(:small)
      - else
        - if pageant.male_only?
          = image_tag "contestant_male_sm.jpg"
        - elsif pageant.female_only?
          = image_tag "contestant_female_sm.jpg"
        - else
          = image_tag "contestant_#{contestant.gender}_sm.jpg"
  .info
    .number= "##{contestant.number}"
    .name
      = link_to contestant.name, pageant_contestant_path(contestant.pageant, contestant), data: {no_turbolink: true}
    .description= contestant.description
    - if contestant.pageant.show_votes?
      .votes
        - if contestant.pageant.done? && contestant.vote_count.present?
          = pluralize(contestant.vote_count, "vote")
        - else
          = pluralize(contestant.votes_count, "vote")

