= f.error_notification
.row-fluid.form-fields.clearfix
  .col-sm-6.no-pad
    = f.input :number, as: :string, label: "Contestant Number", input_html: {maxlength: 3, class: "numeric"}
  - if f.object.pageant.done?
    .col-sm-6.no-pad
      = f.input :vote_count, as: :string, label: "Total Votes", input_html: {maxlength: 5, class: "numeric"}
  .col-sm-12.no-pad  
    = f.input :name, label: "Contestant Name", input_html: {maxlength: 27}
  .col-sm-12.no-pad  
    = f.input :description, label: "Contestant Description", input_html: {rows: 2, maxlength: 44}
  - if f.object.pageant.male_and_female?
    .col-sm-12.no-pad
      = f.input :gender, as: "radio_buttons", collection: Contestant.genders.collect{|k,v| [k.titleize,k]}, checked: params[:gender].present? ? params[:gender] : f.object.gender
  
.form-buttons
  %p
    - if f.object.new_record?
      = f.submit "Add", class: "button"
      = link_to "Cancel", f.object.pageant, class: "btn btn-cancel"
    - else
      = f.submit "Save Changes", class: "button"
      = link_to "Cancel", pageant_contestant_path(f.object.pageant, f.object), class: "btn btn-cancel"