#contestant_upload.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4= "Upload Photo"
      .modal-body
        .row
          = simple_form_for(@contestant, url: upload_process_pageant_contestant_path, method: :post, html: {class: "form", autocomplete: "off", multipart: true, id: "contestant_upload_form"}, data: {photo_limit: Photo::LIMIT, uploaded_count: @contestant.photos.count}) do |f|
            .form-error-message
              = f.error_notification
            = f.hidden_field :id
            .form-fields
              .form-group.file
                = file_field_tag "contestant[photos_attributes][][image]", multiple: true, class: "file form-control"
                %p.help-block= "For better display, upload image with 290 width x 400 height dimension"
      .modal-footer
        .pull-left
          .has-error
            %p.help-block
              - if @contestant.photos.present?
                - available = Photo::LIMIT - @contestant.photos.count
                = "You can upload #{available} more photo#{'s' if available > 1} for this contestant."
              - else
                = "You only allowed to upload up to #{Photo::LIMIT} photos."
        .btn{data: {dismiss:"modal"}}="Cancel"
        %button.btn.btn-default{disabled: true, data: {form_target: "contestant_upload_form"}}= "Upload"