- content_for :title, "#{@contestant.name} - #{@pageant.name} - #{ENV['APP_NAME']}"
- content_for :info_url, pageant_contestant_url(@pageant, @contestant)
- content_for :info_title, "Vote #{@contestant.name}"
- content_for :info_description, @contestant.description.present? ? @contestant.description : @pageant.name
- content_for :info_image, @contestant.photos.present? ? asset_url(@contestant.photos.first.image.url(:medium)) : "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      - if @pageant.header.present?
        .pageant-header
          = image_tag @pageant.header.url(:original)
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to @pageant do
              = "Pageant Info"
          %li>
            = link_to "View Contestant", pageant_contestant_path(@pageant, @contestant), class: "active"
          - if @pageant.authorized?(current_user)
            %li>
              = link_to "Add Contestant", new_pageant_contestant_path(@pageant, gender: @contestant.gender)
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            .info-container.clearfix
              .row
                .col-sm-4
                  .gallery-container.pull-left
                    .main-image-container
                      - if @contestant.photos.present?
                        .main-image-slider
                          - @contestant.photos.each_with_index do |photo, index|
                            .main-image{class: "#{'admin' if @pageant.authorized?(current_user)}"}
                              .image
                                = image_tag photo.image.url(:regular), class: "gallery-image", data: {image_thumb: photo.image.url(:small)}
                              .action
                                = link_to delete_photo_pageant_contestant_path(@pageant, @contestant, photo_id: photo.id), method: :post, data: {confirm: "Are you sure you want to delete this photo?"}, class: "delete_photo" do
                                  = fa_icon"remove"
                      - else
                        - if @pageant.male_only?
                          = image_tag "contestant_male.jpg", class: "hidden-xs"
                        - elsif @pageant.female_only?
                          = image_tag "contestant_female.jpg", class: "hidden-xs"
                        - else
                          = image_tag "contestant_#{@contestant.gender}.jpg", class: "hidden-xs"

                .col-sm-8
                  .boost-votes-details.pull-left
                    %div= "CONTESTANT ##{@contestant.number}"
                    .page-title= @contestant.name
                    .boost-votes-title= "Boost Votes"
                    = form_for :boost_votes, url: boost_vote_pageant_contestant_path(@pageant, @contestant) do |f|
                      %p
                        - @boost_votes.each_with_index do |boost_vote, index|
                          .boost-votes-option
                            = radio_button_tag 'boost_vote', boost_vote.code, index == 0, class: "boost_vote_radio"
                            = image_tag "BoostVotes-#{boost_vote.name.split('-').last.strip.titleize}.png"
                            = boost_vote.description
                      = f.submit "Boost Vote", class: "btn btn-lg btn-success submit-boost-votes-button"
                    .cancel-boost-votes
                      = link_to "Cancel", "#", class: "cancel-boost-votes-button"
                  .info-details.pull-left
                    %div= "CONTESTANT ##{@contestant.number}"
                    .page-title= @contestant.name
                    - if @pageant.authorized?(current_user)
                      .page-controls
                        = link_to edit_pageant_contestant_path(@pageant, @contestant) do
                          = fa_icon("pencil")
                          = "Edit"
                        - if @contestant.photos.count < Photo::LIMIT
                          = link_to "#", id: "contestant_upload_modal_button", data: {modal_target: "#contestant_upload"} do
                            = fa_icon("photo")
                            = "Upload Photo"
                        = link_to pageant_contestant_path(@pageant, @contestant), method: :delete, data: {confirm: "Are you sure you want to delete this contestant?", confirm_subtitle: "Warning! You cannot undo this action."} do
                          = fa_icon("remove")
                          = "Delete"
                    .page-info
                      - if @contestant.description.present?
                        .page-description= @contestant.description
                      - if @contestant.pageant.show_votes?
                        .page-votes
                          - if @pageant.done? && @contestant.vote_count.present?
                            = pluralize(@contestant.vote_count, "vote")
                          - else
                            = pluralize(@contestant.votes_count, "vote")
                            - if admin?
                              .page-votes-link
                                = link_to votes_pageant_contestant_path(@pageant, @contestant) do
                                  = fa_icon("info")
                                  = "View Vote Details"
                      - if @contestant.pageant.upcoming?
                        .page-count-down
                          - if @seconds_remaining > 0
                            .count-down-title= "The voting will start in (#{ENV['TIMEZONE_CODE']}):"
                            .counter_table{data: {date: "#{@contestant.pageant.voting_start}", remaining_seconds: @seconds_remaining}}
                              .item-group
                                .item
                                  .days 0
                                  .label Days
                                .item
                                  .hours 0
                                  .label Hours
                                .item
                                  .minutes 0
                                  .label Minutes
                                .item
                                  .seconds 0
                                  .label Seconds
                      - else
                        %div.mobile-center
                          - if @contestant.pageant.ongoing?
                            - vote_url = vote_pageant_contestant_path(@pageant, @contestant)
                            - if user_signed_in?
                              - if !current_user.blocked? && !blocked_ip?
                                = "You have #{@remaining_votes} remaining vote#{'s' if @remaining_votes > 1} for this pageant."
                                %br/
                                - if @remaining_votes > 0
                                  - vote_msg = params[:voted] == "true" ? "Vote Again" : "Vote"
                                  = link_to vote_msg, vote_url, class: "btn btn-lg btn-success vote-button"
                                  - if @contestant.pageant.boost_votes?
                                    .boost-votes
                                      = link_to "Give Your Contestant A Boost", "#", class: "btn boost-votes-button"
                                - else
                                  .alert.alert-warning.alert-large.alert-center.add-top-bottom
                                    =raw @contestant.vote_warning(current_user, true)
                            - else
                              = link_to "Vote", signin_path(next_url: vote_url), class: "btn btn-lg btn-info vote-button"
                              - if @contestant.pageant.boost_votes?
                                .boost-votes
                                  = link_to "Give Your Contestant A Boost", signin_path(next_url: pageant_contestant_url(@pageant, @contestant, go: "boost_votes")), class: "btn login-boost-votes-button"

                    = render "shared/social_share_buttons", term: "contestant"

                    - if @pageant.fb_button.present?
                      = render "pageants/fb_plugin", content: @pageant.fb_button, pageant_id: @pageant.id

          .row-fluid
            .col-sm-12
              %h3.title_main
          = render "contestants/contestants", pageant: @pageant, contestants: @contestants
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      - if @pageant.show_votes?
        - if @top_contestants.present?
          = render "pageants/side_list", pageant: @pageant, contestants: @top_contestants, title: "Top #{@contestant.gender.titleize} Contestants"
      - if @other_pageants.present?
        = render "pageants/other_pageants", pageants: @other_pageants, title: "Current Pageants"
      = render "shared/side_script"
= render "contestants/upload_modal"