- content_for :title, "#{@contestant.name} - #{@pageant.name} - #{ENV['APP_NAME']}"
- content_for :info_url, pageant_contestant_url(@pageant, @contestant)
- content_for :info_title, "Vote #{@contestant.name}"
- content_for :info_description, @contestant.description.present? ? @contestant.description : @pageant.name
- content_for :info_image, @contestant.photos.present? ? asset_url(@contestant.photos.first.image.url(:medium)) : "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      - if @pageant.header.present?
        .pageant-header
          = image_tag @pageant.header.url(:original)
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to @pageant do
              = "Pageant Info"
          %li>
            = link_to "View Contestant", pageant_contestant_path(@pageant, @contestant)
          %li>
            = link_to "Vote Details", votes_pageant_contestant_path(@pageant, @contestant), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            .info-container.clearfix
              .row
                .col-sm-12
                  .info-details.acenter
                    .page-light-title= @pageant.name
                    .page-small-title= "CONTESTANT ##{@contestant.number}"
                    .page-title= @contestant.name
          .row-fluid.clearfix
            .col-sm-12
              - if @votes.present?
                %table.table.table-striped.table-bordered
                  %tr
                    %th= "Voter"
                    %th.acenter= "IP Address"
                    %th.acenter= "Date"
                  - @votes.each do |vote|
                    %tr
                      %td
                        .pull-right.label.label-default= vote.user.role.upcase
                        = link_to vote.user.name, user_path(vote.user)
                        - if vote.quantity > 1
                          = "(#{vote.quantity} votes)"
                      %td.acenter= vote.ip_address
                      %td.acenter= wiser_date vote.created_at, real_time: false
                .row-fluid.acenter
                  .span12= paginate @votes
              - else
                .alert.alert-warning.acenter
                  No votes yet.

    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      - if @top_contestants.present?
        = render "pageants/side_list", pageant: @pageant, contestants: @top_contestants, title: "Top #{@contestant.gender.titleize} Contestants"
      - if @other_pageants.present?
        = render "pageants/other_pageants", pageants: @other_pageants, title: "Current Pageants"
      = render "shared/side_script"
= render "contestants/upload_modal"