= f.error_notification
.row-fluid.form-fields.clearfix
  .col-sm-6.no-pad
    = f.input :title
  .col-sm-6.no-pad
    = f.input :area, readonly: true
  - unless f.object.area == "home-section"
    .col-sm-12.no-pad
      = f.input :description
  .col-sm-12.no-pad
    = f.input :script, input_html: {class: "#{'wysiwyg' if f.object.area.index('script').nil?}"}
  - unless f.object.area == "home-section"
    .col-sm-12.no-pad
      = f.input :status, as: "radio_buttons", collection: Content.statuses.collect{|k,v| [k.titleize,k]}, checked: f.object.status
.form-buttons
  %p
    = f.submit "Save Changes", class: "button"
    = link_to "Cancel", contents_path, class: "btn btn-cancel"