.container-fluid.clearfix
  .row-fluid.add-top
    .col-sm-12
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Content List", contents_path
          %li>
            = link_to "Edit Content", edit_content_path(@content), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            = simple_form_for(@content, html: {class: "form", autocomplete: "off"}) do |f|
              = render "contents/form", f: f