.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Content List", contents_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            %table.table.table-bordered.table-striped
              %tr
                %th= "Title"
                %th.hidden-xs= "Area"
                %th= "Status"
                %th.hidden-xs= "Last Update"
                %th
              - @contents.each do |content|
                %tr
                  %td= content.title
                  %td.hidden-xs= content.area
                  %td
                    .label.label-default= content.status.titleize
                  %td.hidden-xs= format_datetime(content.updated_at)
                  %td.acenter
                    - unless Content::NO_PREVIEW.include?(content.area)
                      = link_to "View", info_path(content.area)
                        
                    = link_to "Edit", edit_content_path(content)
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"