- content_for :title, "#{ENV['APP_NAME']} - #{@content.title}"
- content_for :info_url, info_url(@content.area)
- content_for :info_title, @content.title
- content_for :info_description, @content.description
- content_for :info_image, "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        .padding-medium.clearfix
          %h2= @content.title
          .wyiswyg-content.add-top
            = raw(@content.script)
          - if @content.area == "buy-a-vote"
            .buy_a_vote
              = simple_form_for(BulkVote.new, url: buy_votes_users_path, html: {class: "form", autocomplete: "off"}) do |f|
                = f.error_notification
                .row.form-fields.clearfix
                  - pageants = Pageant.published.current.reject{|x| x.contestants.not_deleted.empty?}
                  .col-sm-12.no-pad
                    = f.input :pageant_id, collection: pageants, include_blank: "Select Pageant"
                  - pageants.each do |pageant|
                    .col-sm-12.no-pad.pageant-contestants{data: {id: pageant.id}}
                      - options = pageant.contestants.not_deleted.sort_by_number.collect{|x| ["##{x.number} #{x.sname}", x.id]}
                      = f.input :contestant_id, collection: options, include_blank: "Select Contestant", input_html: {class: "bulk-vote-contestant"}
                  .col-sm-3.no-pad.vote-quantity
                    = f.input :quantity, value: "1"
                  .col-sm-12.form-buttons
                    %p= f.submit "Buy", class: "button"

    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"