- content_for :title, "#{ENV['APP_NAME']}"
- content_for :info_url, ENV["APP_HOST"]
- content_for :info_title, "#{ENV['APP_NAME']}"
- content_for :info_description, "#{ENV['APP_NAME']} is an Online Voting Application for local, school, university and international pageants. "
- content_for :info_image, "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container.clearfix
  .row-fluid.add-top
    .col-sm-12
      .paged
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12.col-md-6
            .home-banner
              .home-slider-container
                = image_tag("model4-1.jpg", class: "home-slider-image active")
                = image_tag("model2-2.jpg", class: "home-slider-image")
                = image_tag("model2-3.jpg", class: "home-slider-image")
              .home-context
                .top-text
                  %span.home-title= "PAGEANT VOTE"
                  %br/
                  %span.home-subtitle
                    = "for your"
                    %br/
                    = "Beauty Contest"
                .bottom-text
                  .home-check
                    = fa_icon"check"
                    = "No Auto-likes"
                  .home-check
                    = fa_icon"check"
                    = "Up to 5 images per candidate"
                  .home-check
                    = fa_icon"check"
                    = "Vote every 24 hours"
                  .home-check
                    = fa_icon"check"
                    = "No foul comments"
                  .home-link
                    .fa
                    = link_to "Click here to learn more!", "#"

          .col-sm-12.col-md-6
            .wysiwyg-content
              - content = Content.find_by(area: "home-section")
              - if content.script.present?
                = raw(content.script)
              - else
                - if admin?
                  .alert.alert-warning
                    = link_to "Click here to customize the content of this section.", edit_content_path(content)
  .row-fluid
    .col-sm-8.padding-medium
      .row-fluid.home-listing.clearfix
        %h3= "Current Pageants"
        - if @current_pageants.present?
          - @current_pageants.each do |current_pageant|
            .col-md-6.home-listing-item
              = link_to current_pageant.name, current_pageant
          .col-md-6.home-listing-item
            = link_to "View All Current Pageants", current_pageants_path
        - else
          .alert.alert-warning.acenter.add-top
            No current pageants for now.
      .row-fluid.home-listing.clearfix.add-top
        %h3= "Past Pageants"
        - if @past_pageants.present?
          - @past_pageants.each do |past_pageant|
            .col-md-6.home-listing-item
              = link_to past_pageant.name, past_pageant
          .col-md-6.home-listing-item
            = link_to "View All Past Pageants", past_pageants_path
        - else
          .alert.alert-warning.acenter.add-top
            No past pageants yet.
    .col-sm-4.add-top-bottom-medium
      .row
        .col-sm-12
          - content = Content.find_by(area: "sidebar-section")
          - if content.enabled? && content.script.present?
            .wysiwyg-content
              = raw(content.script)
      .row