.container.clearfix
  .row-fluid.add-top
    .col-sm-12
      .paged.padding-medium
        .login-buttons
          .login-button
            = link_to signin_path do
              = image_tag "login-facebook.png"
          .login-button
            = link_to "#" do
              = image_tag "login-twitter.png"
          .login-button
            = link_to "#" do
              = image_tag "login-google.png"