#give_bonus.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4= "Send Credits to #{@user.name}"
      .modal-body
        .row
          .col-sm-12.acenter
            = simple_form_for Bonus.new, url: give_bonus_user_path(@user), html: {method: :post, class: "form", autocomplete: "off"} do |f|
              %h4= "Enter the desired amount to bonus credits:"
              = f.input :amount, wrapper: "append", label: false, required: false, class: "input-lg" do
                %span.input-group-addon= "Php"
                = f.input_field :amount, as: "string"
              %h4= "Notes (optional)"
              = f.input :notes, label: false, class: "input-lg"
      .modal-footer
        .btn{data: {dismiss:"modal"}}
          = "Cancel"
        %button.btn.btn-default{data: {form_target: "#new_bonus"}}
          = "Send Credits"