#reject_withdrawal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4= "Reject Withdrawal"
      .modal-body
        .row
          .col-sm-12
            = simple_form_for Withdrawal.new, url: reject_withdrawals_path, html: {method: :post, class: "form", autocomplete: "off", id: "reject_withdrawal_form"} do |f|
              = f.input :id, as: "hidden"
              %h4= "PayPal Email"
              = f.input :user_id, as: "string", label: false, required: false, class: "input-lg", disabled: true
              %h4= "Notes"
              = f.input :notes, label: false, class: "input-lg"
      .modal-footer
        .btn{data: {dismiss:"modal"}}
          = "Cancel"
        %button.btn.btn-default{data: {form_target: "#reject_withdrawal_form"}}
          = "Save"