#request_withdrawal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4= "Withdraw"
      .modal-body
        .row
          .col-sm-12.acenter
            = simple_form_for Withdrawal.new, url: withdraw_user_path(@user), html: {method: :post, class: "form", autocomplete: "off"} do |f|
              %h4= "Enter the desired amount to withdraw:"
              = f.input :amount, wrapper: "append", label: false, required: false, class: "input-lg", hint: "You can only withdraw Php 100.00 or greater." do
                %span.input-group-addon= "Php"
                = f.input_field :amount, as: "string"
      .modal-footer
        .btn{data: {dismiss:"modal"}}
          = "Cancel"
        %button.btn.btn-default{data: {form_target: "#new_withdrawal"}}
          = "Request"