= render "withdrawals/complete_modal"
= render "withdrawals/reject_modal"
.container-fluid.clearfix
  .row-fluid.add-top
    .col-sm-12
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Withdrawals List", withdrawals_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .search-list.hide
            = search_form_for @q, url: withdrawals_path do |f|
              .input-group.input-group-sm.short-search
                = f.text_field :user_first_name_or_user_last_name_or_txn_id_or_amount_cont, placeholder: "Search Withdrawal", value: @keyword
                .input-group-btn
                  = f.button fa_icon("search"), class: "btn"
          .row-fluid.clearfix
            .col-sm-12
          .row-fluid.clearfix
            .col-sm-12
              - if @withdrawals.present?
                .pagination_info= page_entries_info @withdrawals
                %table.table.table-striped.table-slim
                  %tr
                    %th
                      = "User"
                    %th.acenter
                      = sort_link @q, :amount, "Amount"
                    %th.acenter
                      = sort_link @q, :status, "Status"
                    %th.acenter
                      = sort_link @q, :created_at, "Date Requested"
                    %th
                  - @withdrawals.each do |withdrawal|
                    %tr
                      %td
                        = link_to user_path(withdrawal.user) do
                          = withdrawal.user.name
                          = "<#{withdrawal.user.paypal_email}>"
                      %td.aright.w100
                        .pull-left= "Php"
                        = number_to_currency(withdrawal.amount, unit: "")
                      %td.acenter
                        .label{class: withdrawal.status_style}= withdrawal.status.titleize
                      %td.acenter
                        = format_datetime(withdrawal.created_at)
                      %td.acenter
                        - if withdrawal.pending?
                          = link_to "Approve", approve_withdrawal_path(withdrawal), method: "post"
                          = " | "
                          = link_to "Reject", "", class: "no-link reject_withdrawal_button", data: {id: withdrawal.id, email: withdrawal.user.paypal_email}
                        - elsif withdrawal.approved?
                          = link_to "Complete", "", class: "no-link complete_withdrawal_button", data: {id: withdrawal.id, email: withdrawal.user.paypal_email}
                        - elsif withdrawal.completed?
                          = fa_icon "info", tip: "PayPal Transaction ID: #{withdrawal.txn_id}"
                        - else
                          - if withdrawal.notes.present?
                            = fa_icon "info", tip: withdrawal.notes
                .row-fluid.clearfix
                  .col-sm-12.acenter= paginate @withdrawals
                  .pagination_info= page_entries_info @withdrawals
              - else
                .row-fluid.clearfix
                  .col-sm-12
                    .alert.alert-warning.acenter
                      No withdrawals found.