= f.error_notification
.row-fluid.form-fields.clearfix
  - if f.object.email.present?
    .col-sm-12.no-pad
      = f.input :email, readonly: true
  .col-sm-6.no-pad
    = f.input :first_name
  .col-sm-6.no-pad
    = f.input :last_name
  .col-sm-6.no-pad
    = f.input :location
  .col-sm-6.no-pad
    = f.input :birth_date, as: "string", input_html: {class: "date-basic"}
  .col-sm-6.no-pad
    = f.input :gender, as: "radio_buttons", collection: User.genders.collect{|k,v| [k.titleize,k]}, checked: f.object.gender
  - if admin? && current_user != f.object
    .col-sm-6.no-pad
      = f.input :role, as: "radio_buttons", collection: User.roles.collect{|k,v| [k.titleize,k]}, checked: f.object.role
  
.form-buttons
  %p
    = f.submit "Save Changes", class: "button"
    = link_to "Cancel", user_path(params[:id]), class: "btn btn-cancel"