= render "withdrawals/request_modal"
= render "withdrawals/bonus_modal"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          - if params[:id] == "me"
            %li>
              = link_to "Profile", user_path("me")
            %li>
              = link_to "Account", account_user_path("me"), class: "active"
          - else
            %li>
              = link_to "User List", users_path
            %li>
              = link_to "User Activities", user_path(@user)
            %li>
              = link_to "User Account", account_user_path(@user), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            .row-fluid.acenter
              .col-sm-12
                .info-details
                  - if admin?
                    .page-intro
                      .label.label-default= @user.role.titleize
                      .label.label-default= @user.premium? ? "Premium User" : "Free User"
                  .page-title
                    = @user.name
                  - if admin?
                    .page-info
                      = link_to "Send Credits", "#", class: "no-link", data: {modal_target: "#give_bonus"}
              .row-fluid
                .col-sm-12
                  %h3.title_main
              .row-fluid
                .col-sm-12.acenter
                  %h4
                    = "Current Balance:"
                  %b.lead= number_to_currency(@user.current_balance, unit: "Php ")
                  %br/
                  %br/
                .col-sm-12.acenter
                  %h4= "Payment Settings"
                  .row
                    .col-sm-12.acenter
                      = simple_form_for(@user, url: user_path(params[:id]), html: {class: "form", autocomplete: "off"}) do |f|
                        = f.input :paypal_email, label: false, wrapper: 'append', hint: "Please type in the correct PayPal email. Any withdrawals made to the wrong email will not be re­processed." do
                          = f.input_field :paypal_email, class: "form-control"
                          %span.input-group-btn
                            %button.btn.btn-default#save_paypal_email= "Save"

                .col-sm-12
                  %h4.acenter= "Previous Pageants"
                  - if @pageants.present?
                    %table.table.table-striped.table-compact
                      - @pageants.each do |pageant|
                        %tr
                          %td.aleft
                            = link_to pageant.name, pageant
                            .pull-right
                              = pluralize(pageant.votes.count(:id), "vote")
                          %td.aright{width: 150}
                            .pull-left= "Php"
                            = number_to_currency(pageant.profit, unit: "")
                      %tr
                        %td
                          %b.pull-right= "Total Profit:"
                        %td.aright{width: 150}
                          %b
                            .pull-left= "Php"
                            = number_to_currency(@user.total_profit, unit: "")
                  - else
                    .row-fluid.clearfix
                      .col-sm-12
                        .alert.alert-warning.acenter
                          No pageants yet.
                        %br/
                        %br/
                .col-sm-12
                  - if @bonus.present?
                    %h4.acenter= "Bonus"
                    %table.table.table-striped.table-compact
                      - @bonus.each do |bonus|
                        %tr
                          %td.aleft
                            = format_datetime(bonus.created_at)
                            - if bonus.notes.present?
                              = "- #{bonus.notes}"
                          %td.aright.w150
                            .pull-left= "Php"
                            = number_to_currency(bonus.amount, unit: "")
                      %tr
                        %td
                          %b.pull-right= "Total Bonus:"
                        %td.aright
                          %b
                            .pull-left= "Php"
                            = number_to_currency(@user.bonus.sum(:amount), unit: "")
                .col-sm-12
                  %h4.acenter= "Withdrawals"
                  - if @withdrawals.present?
                    %table.table.table-striped.table-compact
                      - @withdrawals.each do |withdrawal|
                        %tr
                          %td.aleft
                            = format_datetime(withdrawal.created_at)
                            - if withdrawal.completed? && withdrawal.txn_id.present?
                              = "- #{withdrawal.txn_id}"
                            - if withdrawal.help.present?
                              .pull-right= fa_icon "question", tip: withdrawal.help
                            .label.pull-right{class: withdrawal.status_style}= withdrawal.status.titleize
                          %td.aright{width: 150, class: "#{'striked' unless withdrawal.completed?}"}
                            .pull-left= "Php"
                            = number_to_currency(withdrawal.amount, unit: "")
                      %tr
                        %td
                          %b.pull-right= "Total Withdrawal:"
                        %td.aright{width: 150}
                          %b
                            .pull-left= "Php"
                            = number_to_currency(@user.total_withdrawal, unit: "")
                    - if @user.can_withdraw?
                      = link_to "Request to withdraw", "#", class: "no-wrap no-link btn btn-default", data: {modal_target: "#request_withdrawal"}
                      %br/
                      %br/
                  - else
                    .row-fluid.clearfix
                      .col-sm-12
                        .alert.alert-warning.acenter
                          No withdrawals yet.
                          = link_to "Click here to request for withdrawal.", "#", class: "no-wrap no-link", data: {modal_target: "#request_withdrawal"}
                        %br/
                        %br/
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"