.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            - if params[:id] == "me"
              = link_to "Profile", user_path("me")
            - else
              = link_to "User List", users_path
          %li>
            - if params[:id] == "me"
              = link_to "Edit Profile", edit_user_path("me"), class: "active"
            - else
              = link_to "Edit User", edit_user_path(@user), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-8
            = simple_form_for(@user, url: user_path(params[:id]), html: {class: "form", autocomplete: "off"}) do |f|
              = render "users/form", f: f
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"