.container-fluid.clearfix
  .row-fluid.add-top
    .col-sm-12
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Users List", users_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .search-list
            = search_form_for @q, url: users_path do |f|
              .input-group.input-group-sm.short-search
                = f.text_field :first_name_or_last_name_or_email_or_location_cont, placeholder: "Search User", value: @keyword
                .input-group-btn
                  = f.button fa_icon("search"), class: "btn"
          .row-fluid.clearfix
            .col-sm-12
          .row-fluid.clearfix
            .col-sm-12
              - if @users.present?
                .pagination_info= page_entries_info @users
                %table.table.table-striped.table-bordered.table-slim
                  %tr
                    %th
                      = sort_link @q, :first_name, "Name"
                    %th.hidden-xs.hidden-sm
                      = sort_link @q, :email
                    %th.hidden-xs.hidden-sm.acenter
                      = sort_link @q, :location
                    %th.hidden-xs.hidden-sm.acenter
                      = sort_link @q, :wallet_amount, "Wallet"
                    %th.hidden-xs.hidden-sm.acenter
                      = sort_link @q, :votes_count, "Votes"
                    %th.hidden-xs.hidden-sm.acenter
                      = sort_link @q, :pageants_count, "Pageants"
                    %th.hidden-xs.acenter
                      = sort_link @q, :premium_until
                  - @users.each do |user|
                    %tr
                      %td
                        .btn-group
                          .btn.btn-xs.dropdown-toggle{data: {toggle: "dropdown"}}
                            = fa_icon "cog"
                          %ul.dropdown-menu{role: "menu"}
                            %li
                              = link_to user_path(user) do
                                = fa_icon "eye", class: "link-icon"
                                = "View Activities"
                            %li
                              = link_to edit_user_path(user) do
                                = fa_icon "pencil", class: "link-icon"
                                = "Edit User"
                            - if user.url.present?
                              %li
                                = link_to user.url, target: "_blank" do
                                  = fa_icon "facebook", class: "link-icon"
                                  = "Visit FB Profile"
                            - if !user.premium?
                              %li
                                = link_to register_premium_user_path(user) do
                                  = fa_icon "star", class: "link-icon"
                                  = "Set as Premium User"
                            %li
                              - if user.blocked?
                                = link_to unblock_user_path(user.id), method: "post", data: {confirm: "Are you sure you want to unblock #{user.name}?<br/><small>The user can cast votes again when unblocked.</small>",}, class: "link-green" do
                                  = fa_icon "check", class: "link-icon"
                                  = "Unblock"
                              - else
                                = link_to block_user_path(user.id), method: "post", data: {confirm: "Are you sure you want to block #{user.name}?<br/><small>The user can no longer cast votes when blocked.</small>",}, class: "link-red" do
                                  = fa_icon "remove", class: "link-icon"
                                  = "Block"
                        = link_to highlight(user.name, @keyword), user_path(user)
                        - if user.blocked?
                          .label.label-danger.pull-right= "Blocked"
                        - else
                          .label.label-default.pull-right= user.role.upcase
                      %td.hidden-xs.hidden-sm
                        =raw user.email.present? ? highlight(user.email, @keyword) : "-"
                      %td.hidden-xs.hidden-sm.acenter
                        =raw user.location.present? ? highlight(user.location, @keyword) : "-"
                      %td.hidden-xs.hidden-sm.aright.w100
                        .pull-left= "Php"
                        = number_to_currency(user.wallet.present? ? user.wallet.amount : 0, unit: "")
                      %td.hidden-xs.hidden-sm.acenter
                        = user.votes_count
                      %td.hidden-xs.hidden-sm.acenter
                        = user.pageants_count
                      %td.hidden-xs.acenter
                        =raw highlight("#{format_date(user.premium_until)}", @keyword)
                        - if user.premium_until.present?
                          - if !user.premium?
                            .pull-right= fa_icon "warning"
                          - else
                            .pull-right= fa_icon "check"
                        - else
                          = fa_icon "remove"
                .row-fluid.clearfix
                  .col-sm-12.acenter= paginate @users
                  .pagination_info= page_entries_info @users
              - else
                .row-fluid.clearfix
                  .col-sm-12
                    .alert.alert-warning.acenter
                      No results found.
                      = link_to "Click here", users_path
                      to clear your search.