.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            - if params[:id] == "me"
              = link_to "Profile", user_path("me"), class: "active"
            - else
              = link_to "User List", users_path
          %li>
            - if params[:id] == "me"
              = link_to "Edit Profile", edit_user_path("me")
            - else
              = link_to "View User", user_path(@user), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            .info-container.clearfix
              .row-fluid
                - if @user.fb_photo_url.present?
                  .col-sm-4
                    .gallery-container.pull-left
                      .main-image-container
                        = image_tag @user.fb_photo_url, class: "gallery-image"
                %div{class: "#{@user.fb_photo_url.present? ? 'col-sm-8' : 'col-sm-12'}"}
                  .info-details.pull-left
                    - if admin?
                      .page-intro
                        .label.label-default= @user.role.upcase
                        .label.label-default= @user.premium? ? "Premium User" : "Free User"
                    .page-title= @user.name
                    .page-description
                      = "Registered since: #{format_date(@user.created_at)}"
                      %br/
                      - if @user.premium?
                        = "Premium until: #{format_date(@user.premium_until)}"
                        %br/
                      = @user.email
                      - if @user.location.present?
                        %br/
                        = @user.location
                      - if @user.birth_date.present?
                        %br/
                        = pluralize(@user.age, "year")
                        = "old"
              .row-fluid
                .col-sm-12
                  %h3.title_main
              .row-fluid
                .col-sm-12
                  %h3.title_main.no-line= "Register as Premium Member"
              .row-fluid
                .col-sm-12
                  - if !@user.premium?
                    .row-fluid.pad-top-bottom-medium.clearfix
                      .col-sm-12
                        = simple_form_for(@transaction, url: transactions_path(user_id: @user.id), html: {class: "form", autocomplete: "off"}) do |f|
                          = render "transactions/form", f: f
                  - else
                    .row-fluid.clearfix
                      .col-sm-12
                        .alert.alert-warning.acenter
                          User is already a premium member.
                          = link_to "Click here", @user
                          to go back.

    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"