= render "withdrawals/bonus_modal"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          - if params[:id] == "me"
            %li>
              = link_to "Profile", user_path("me"), class: "active"
            %li>
              = link_to "Account", account_user_path("me")
          - else
            %li>
              = link_to "User List", users_path
            %li>
              = link_to "User Activities", user_path(@user), class: "active"
            %li>
              = link_to "User Account", account_user_path(@user)
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            .info-container.clearfix
              .row-fluid
                - if @user.fb_photo_url.present?
                  .col-sm-4
                    .gallery-container.pull-left
                      .main-image-container
                        = image_tag @user.fb_photo_url, class: "gallery-image"
                %div{class: "#{@user.fb_photo_url.present? ? 'col-sm-8' : 'col-sm-12'}"}
                  .info-details.pull-left
                    - if admin?
                      .page-intro
                        .label.label-default= @user.role.titleize
                        .label.label-default= @user.premium? ? "Premium User" : "Free User"
                        - if @user.blocked?
                          .label.label-danger= "Blocked"
                    .page-title
                      = @user.name
                    - if params[:id] != "me" && admin?
                      .page-controls
                        = link_to edit_user_path(params[:id]) do
                          = fa_icon("pencil")
                          = "Edit User"
                        - if @user.fb_url.present?
                          = link_to @user.fb_url, target: "_blank" do
                            = fa_icon("user")
                            = "View on Facebook"
                        - if !@user.premium?
                          %br/
                          = link_to register_premium_user_path(params[:id]) do
                            = fa_icon("star")
                            = "Set as Premium User"
                        = link_to "#", class: "no-link", data: {modal_target: "#give_bonus"} do
                          = fa_icon("money")
                          = "Send Credits"

                        - if @user.blocked?
                          = link_to unblock_user_path(params[:id]), method: "post", data: {confirm: "Are you sure you want to unblock #{@user.name}?<br/><small>The user can cast votes again when unblocked.</small>",}, class: "link-green" do
                            = fa_icon("check")
                            = "Unblock"
                        - else
                          = link_to block_user_path(params[:id]), method: "post", data: {confirm: "Are you sure you want to block #{@user.name}?<br/><small>The user can no longer cast votes when blocked.</small>",}, class: "link-red" do
                            = fa_icon("remove")
                            = "Block"

                    .page-description
                      - if @user.premium?
                        = "Premium until: #{format_date(@user.premium_until)}"
                        %br/
                      = @user.email
                      - if @user.location.present?
                        %br/
                        = @user.location
                      - if @user.birth_date.present?
                        %br/
                        = pluralize(@user.age, "year")
                        = "old"
                    %div.mobile-center
                      - if current_user == @user && params[:id] == "me" && !@user.premium?
                        = link_to "Be a premium user", info_path("premium-membership"), class: "btn btn-lg btn-success premium-button"
              .row-fluid
                .col-sm-12
                  %h3.title_main
              .row-fluid
                .col-sm-12
                  %h3.title_main.no-line= "User Activities"
              .row-fluid
                .col-sm-12
                  - if @activities.present?
                    %table.table.table-bordered.table-striped
                      - @activities.each do |activity|
                        - if activity.resource.present?
                          = render "activities/#{activity.resource_type.underscore}", activity: activity
                  - else
                    .row-fluid.clearfix
                      .col-sm-12
                        .alert.alert-warning.acenter
                          No activities yet.
              .row-fluid.clearfix
                .col-sm-12.acenter= paginate @activities
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"