.footer.add-top-large
  .container.copyright
    .row
      .col-sm-8.col-md-8.mobile-center
        - Content.enabled.each do |content|
          - next if Content::NO_PREVIEW.include?(content.area)
          - if content.area == "buy-a-vote"
            - if user_signed_in?
              = link_to content.title, info_path(content.area)
          - else
            = link_to content.title, info_path(content.area)
      .col-sm-4.col-md-4.aright.mobile-center
        %span.no-wrap.add-left-right= "#{ENV['APP_NAME']} Copyright © #{Date.today.year} [#{ENV['TIMEZONE_CODE']}]"
        / %span.no-wrap.add-left-right.developer
        /   Developed by
        /   = link_to "Bud Brothers", "http://budbrosdev.com", target: "_blank"
