%li
  = link_to "Home", home_path
%li
  = link_to "Pageants", current_pageants_path

- if user_signed_in?
  %li
    = link_to "My Pageants", pageants_path
  %li
    - if content = Content.find_by_area_and_status("create-a-pageant", 1)
      = link_to content.title, info_path(content.area)
    - else
      = link_to "Create a Pageant", new_pageant_path
  %li
    = link_to "Profile", user_path("me")
- else
  - if content = Content.find_by_area_and_status("create-a-pageant", 1)
    %li
      = link_to content.title, info_path(content.area)
- if admin?
  %li
    = link_to "Users", users_path
  %li
    = link_to "Content", contents_path
  %li
    = link_to withdrawals_path do
      - pending = Withdrawal.pending.count(:id)
      - if pending > 0
        = "Withdrawals (#{pending})"
      - else
        = "Withdrawals"
  %li
    = link_to "Settings", edit_settings_path

%li
  - if user_signed_in?
    = link_to 'Logout', signout_path, data: {confirm: "Do you want to logout your #{ENV['APP_NAME']} account?", confirm_subtitle: "Warning! This will not signout your Facebook account.<br/>Visit <a href='https://facebook.com' target='_blank'>Facebook</a> to logout your account manually."}
  - else
    = link_to 'Login via Facebook', signin_path