.ad-box
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / Large Going Down
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-5930036773855425", "data-ad-slot" => "5185996598", :style => "display:inline-block;width:300px;height:600px"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
