.ad-box
  #switch_placeholder_1232b83285f07df4fc625e59d810cd0a.switch_placeholder
  :javascript
    (__scads = window.__scads || []).push({"z":28791,"targetId":"switch_placeholder_1232b83285f07df4fc625e59d810cd0a","domain":"delivery.myswitchads.com","width":"300","height":"250"});
  %script{:async => "", :src => "//delivery.myswitchads.com/adserver/sat.js?v=2"}