- content = Content.find_by(area: "side-images")
- if content.enabled? && content.script.present?
  .side-images
    .wysiwyg-content
      = raw(content.script)
- else
  - if admin?
    .side-images
      .alert.alert-warning.acenter
        = link_to "Click here to update Side Images.", edit_content_path(content)