- content = Content.find_by(area: "side-script")
- if content.enabled? && content.script.present?
  .ad-box
    = raw(content.script)
- else
  - if admin?
    .side-images
      .alert.alert-warning.acenter
        = link_to "Click here to update Side Script.", edit_content_path(content)