.social-share-buttons-container
  .social-share-title= "Share this #{term} with: "
  - if !@pageant.present? && !@contestant.present?
    - title = "#{ENV['APP_NAME']}"
  = social_share_button_tag(yield(:info_title), "data-twitter-title" => "#{yield(:info_title)} @ #{ENV['APP_NAME']}", url: yield(:info_url), image: yield(:info_image), desc: yield(:info_description), popup: "true", rel: "pvshare", via: "PageantVoteOnline")