.socialbar
  .container
    .row
      .span12.borderless.acenter.top-info
        = "You are currently logged in as #{current_user.name}."
        / %ul.ss.mobile-center
        /   %li.twitter
        /     %a{:href => "#"} twitter
        /   %li.facebook
        /     %a{:href => "#"} facebook
        /   %li.googleplus
        /     %a{:href => "#"} googleplus
        /   %li.dribbble
        /     %a{:href => "#"} dribbble
        /   %li.forrst
        /     %a{:href => "#"} forrst
        /   %li.rss
        /     %a{:href => "#"} rss