.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Settings", edit_settings_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            = simple_form_for(:settings, url: settings_path, method: "post", html: {class: "form", autocomplete: "off"}) do |f|
              = f.error_notification
              .row-fluid.form-fields.clearfix
                .col-sm-12.no-pad
                  = f.input :blocked_ips, as: :text, hint: "Write IP Addresses separated by comma.", input_html: {value: Setting.find_by(key: "blocked_ips").try(:value)}
              .form-buttons
                %p
                  = f.submit "Save Changes", class: "button"
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"