!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Alert!
    %p
      =raw "<b>#{@withdrawal.user.name}</b> requested to withdraw <b>#{number_to_currency(@withdrawal.amount, unit: 'Php ')}</b> credits."
      %br/
      = link_to "Click here", withdrawals_url
      = "to review and process the withdrawal."
      %br/
    %p
      You receive this email because you're an Administrator.
    %hr/
    %p
      = link_to "#{ENV['APP_NAME']}", root_url