$ ->
  $(document).ready facebookHooks
  $(document).on "page:load", facebookHooks

facebookHooks = ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


  window.fbAsyncInit = ->
    FB.init(appId: "<%= ENV['OMNIAUTH_PROVIDER_KEY'] %>", cookie: true)

    $(document).on 'click', '#logout_link', (e) ->
      FB.getLoginStatus (response) ->
        FB.logout() if response.authResponse
      true