#fb-plugin-modal.modal.fade{data: {pageant_id: pageant_id}}
  .modal-dialog
    .modal-content
      .modal-body.acenter
        = raw(content)
      .modal-footer
        = link_to "Already Liked this Page", "#", class: "btn pull-left fb-page-liked"
        = link_to "No Thanks", "#", class: "btn fb-page-thanks"