= f.error_notification
.row-fluid.form-fields.clearfix
  .col-sm-12.no-pad
    = f.input :name, label: "Pageant Name", input_html: {maxlength: 44}
  .col-sm-12.no-pad
    = f.input :description, label: "Pageant Description", input_html: {rows: 3, maxlength: 300}
  .col-sm-12.no-pad
    .form-group.optional.pageant_period
      .row-fluid
        .col-sm-12.no-pad
          %label.required.date{for: "pageant_period"}
            %abbr{title: "required"}= "*"
            = "Voting Period"
        .col-sm-6.no-pad
          = f.input :voting_start, as: "string", label: false, placeholder: "Select start date", input_html: {class: "datetime-basic"}
        .col-sm-6.no-pad
          = f.input :voting_end, as: "string", label: false, placeholder: "Select end date", input_html: {class: "datetime-basic"}
  .col-sm-12.no-pad
    = f.input :category, as: "radio_buttons", collection: Pageant.categories.collect{|k,v| [k.titleize,k]}, checked: f.object.category
  .col-sm-12.no-pad
    = f.input :show_votes, as: "radio_buttons", collection: [["Yes",true],["No",false]], checked: f.object.show_votes
  .col-sm-12.no-pad
    = f.input :boost_votes, as: "radio_buttons", label: raw("Boost Votes&nbsp;&nbsp;&nbsp;<a href=#{info_path('boost-votes')} target='_blank'>What is Boost Votes?</a>"), collection: [["Yes",true],["No",false]], checked: f.object.boost_votes
  .col-sm-12.no-pad
    = f.input :fb_button, label: "Facebook Like Button (CODE)", input_html: {rows: 3}, hint: "Paste the exact code generated by Facebook."
  .col-sm-12.no-pad
    = f.input :header, label: "Banner (Header)", hint: "Upload image with 1000 width x 300 height pixels"
    - if @pageant.present? && @pageant.header.exists?
      = image_tag @pageant.header.url(:cropped)
  .col-sm-12.no-pad
    = f.input :thumb, label: "Logo (For FB Share)", hint: "Upload image with 470 width x 245 height pixels"
    - if @pageant.present? && @pageant.thumb.exists?
      = image_tag @pageant.thumb.url(:cropped)
    - else
      = image_tag @pageant.thumb.url(:default_url)

  / .col-sm-6.no-pad
  /   = f.input :banner, hint: "Upload image with 690 width x 315 height dimension"

.form-buttons
  %p
    - if f.object.new_record?
      = f.submit "Create", class: "button"
      = link_to "Cancel", pageants_path, class: "btn btn-cancel"
    - else
      = f.submit "Save Changes", class: "button"
      = link_to "Cancel", f.object, class: "btn btn-cancel"