.row.add-top
  .col-sm-12
    .paged
      .row.clearfix
        .col-sm-12
          %table.table.table-striped.table-no-margin-bottom.table-slim-first-column
            %tr
              %th= title
            %tr
              %td
                .row-fluid.clearfix
                  - pageants.each do |pageant|
                    .col-sm-12.add-top
                      = render "pageants/pageant", pageant: pageant, with_status: false
                  .col-sm-12.add-top.acenter
                    = link_to "View all Current Pageants", current_pageants_path, class: "btn"