.pageant
  .pageant-photo
    = image_tag pageant.thumb.url(:cropped)
  .pageant-info
    .pageant-title= link_to pageant.name, pageant
    .pageant-span= format_duration(pageant.voting_start, pageant.voting_end)
    - if with_status
      .pageant-labels
        - if pageant.published?
          .label.label-default= pageant.published_status.titleize
        - elsif pageant.authorized?(current_user)
          .label.label-default= pageant.status.titleize