.row.add-top
  .col-sm-12
    .paged
      .row.clearfix
        .col-sm-12
          %table.table.table-striped.table-no-margin-bottom.table-slim-first-column
            %tr
              %th{colspan: 2}= title
            - contestants.each do |contestant|
              %tr
                %td= "##{contestant.number}"
                %td
                  = link_to contestant.name, pageant_contestant_path(pageant, contestant)
                  
                  - if contestant.pageant.show_votes?
                    - if contestant.pageant.done? && contestant.vote_count.present?
                      .pull-right= pluralize(contestant.vote_count, "vote")
                    - else
                      .pull-right= pluralize(contestant.votes_count, "vote")