.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      - if @pageant.header.present?
        .pageant-header
          = image_tag @pageant.header.url(:original)
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Pageant Info", @pageant
          %li>
            = link_to "Settings", edit_pageant_path(@pageant), class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            = simple_form_for(@pageant, html: {class: "form", autocomplete: "off"}) do |f|
              = render "pageants/form", f: f
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"