.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "My Pageants", pageants_path, class: "active"
          %li>
            = link_to "Create a Pageant", new_pageant_path
        .row-fluid.pad-top-bottom-medium.clearfix
          .search-list.hidden-xs
            = search_form_for @q, url: pageants_path do |f|
              .input-group.input-group-sm.short-search
                = f.text_field :name_or_description_cont, placeholder: "Search Pageant"
                .input-group-btn
                  = f.button fa_icon("search"), class: "btn"
          - if @pageants.present?
            .row-fluid.clearfix
              - @pageants.each do |pageant|
                .col-sm-6.add-bottom
                  = render "pageants/pageant", pageant: pageant, with_status: true
            .row-fluid.acenter
              .span12= paginate @pageants
          - else
            .row-fluid.clearfix
              .col-sm-12
                .alert.alert-warning.acenter
                  - if @q.present?
                    No pageants found.
                  - else
                    No pageants yet.
                  = link_to "Click here to create one.", new_pageant_path, class: "no-wrap"
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"