.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "My Pageants", pageants_path
          %li>
            = link_to "Create a Pageant", new_pageant_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12
            = simple_form_for(@pageant, html: {class: "form", autocomplete: "off"}) do |f|
              = render "pageants/form", f: f
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"