- content_for :title, "#{ENV['APP_NAME']} - Past Pageants"
- content_for :info_url, past_pageants_url
- content_for :info_title, "Past Pageants"
- content_for :info_description, "#{ENV['APP_NAME']} is an Online Voting Application for local, school, university and international pageants."
- content_for :info_image, "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      .paged
        %ul.page-tabs.clearfix
          %li>
            = link_to "Current Pageants", current_pageants_path
          %li>
            = link_to "Past Pageants", past_pageants_path, class: "active"
        .row-fluid.pad-top-bottom-medium.clearfix
          .search-list.hidden-xs
            = search_form_for @q, url: past_pageants_path do |f|
              .input-group.input-group-sm.short-search
                = f.text_field :name_or_description_cont, placeholder: "Search Pageant"
                .input-group-btn
                  = f.button fa_icon("search"), class: "btn"
          - if @pageants.present?
            .row-fluid.clearfix
              - @pageants.each do |pageant|
                .col-sm-6.add-bottom
                  = render "pageants/pageant", pageant: pageant, with_status: false
              .col-sm-12.acenter= paginate @pageants
          - else
            .row-fluid.clearfix
              .col-sm-12
                .alert.alert-warning.acenter
                  No past pageants yet.
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      = render "shared/side_script"