- content_for :title, "#{@pageant.name} - #{ENV['APP_NAME']}"
- content_for :info_url, pageant_url(@pageant)
- content_for :info_title, @pageant.name
- content_for :info_description, @pageant.description
- content_for :info_image, @pageant.thumb.present? ? asset_url(@pageant.thumb.url(:original)) : "http://#{ENV['DOMAIN_NAME']}/assets/#{ENV['OG_IMAGE']}"
.container-fluid.clearfix
  .row-fluid
    .col-sm-9.col-md-8.add-top-bottom-medium
      - if @pageant.header.present?
        .pageant-header
          = image_tag @pageant.header.url(:original)
      .paged
        - if @pageant.authorized?(current_user)
          %ul.page-tabs.clearfix
            %li>
              = link_to "Pageant Info", @pageant, class: "active"
            %li>
              = link_to "Settings", edit_pageant_path(@pageant)
        .row-fluid.pad-top-bottom-medium.clearfix
          .col-sm-12.acenter
            - unless @pageant.header.present?
              .page-title= @pageant.name

            - if @pageant.authorized?(current_user)
              .page-labels
                .label.label-default= @pageant.status.titleize
                .label.label-default= @pageant.category.titleize
                .label.label-default= @pageant.show_votes ? "Visible Votes" : "Hidden Votes"
            - if @pageant.authorized?(current_user)
              .page-controls
                = link_to edit_pageant_path(@pageant) do
                  = fa_icon "pencil"
                  = "Edit Pageant"
                = link_to new_pageant_contestant_path(@pageant) do
                  = fa_icon "plus"
                  = "Add Contestant"
                - if @pageant.published?
                  = link_to unpublish_pageant_path(@pageant), method: "post", data: {confirm: "Are you sure you want to unpublish this pagent?", confirm_subtitle: "Warning! This action will hide the pageant from other users."} do
                    = fa_icon "lock"
                    = "Unpublish"
                - else
                  = link_to publish_pageant_path(@pageant), method: "post", data: {confirm: "Are you sure you want to publish this pagent?", confirm_subtitle: "Warning! This action will allow anyone to view the pageant."} do
                    = fa_icon "unlock"
                    = "Publish"
                  = link_to pageant_path(@pageant), method: "delete", data: {confirm: "Are you sure you want to delete this pagent?", confirm_subtitle: "Warning! This action will delete all the related information."} do
                    = fa_icon "remove"
                    = "Delete"

            .page-info
              - if @pageant.description.present?
                .page-description= @pageant.description
              = "#{format_datetime(@pageant.voting_start)} to #{format_datetime(@pageant.voting_end)}"
              .page-labels
                - if @pageant.published?
                  - if @seconds_remaining > 0
                    - if @pageant.published_status == "upcoming"
                      .count-down-title= "Voting will start in (#{ENV['TIMEZONE_CODE']}):"
                    - else
                      .count-down-title= "Voting will end in (#{ENV['TIMEZONE_CODE']}):"
                    .counter_table{data: {date: "#{@pageant.published_status == "upcoming" ? @pageant.voting_start : @pageant.voting_end}", remaining_seconds: @seconds_remaining}}
                      .item-group
                        .item
                          .days 0
                          .label Days
                        .item
                          .hours 0
                          .label Hours
                        .item
                          .minutes 0
                          .label Minutes
                        .item
                          .seconds 0
                          .label Seconds
                - else
                  .count-down-title= "This pageant is not published."
              - if @pageant.published?
                = render "shared/social_share_buttons", term: "pageant"

          .row-fluid
            .col-sm-12
              %h3.title_main= "Contestants"
          = render "contestants/contestants", pageant: @pageant, contestants: @contestants
    .col-sm-3.col-md-4.add-top-bottom-medium
      = render "shared/side_images"
      - if @pageant.show_votes?
        - if @top_male.present?
          = render "pageants/side_list", pageant: @pageant, contestants: @top_male, title: "Top Male Contestants"
        - if @top_female.present?
          = render "pageants/side_list", pageant: @pageant, contestants: @top_female, title: "Top Female Contestants"
        - if @top_contestants.present?
          = render "pageants/side_list", pageant: @pageant, contestants: @top_contestants, title: "Top Contestants"
      - if @other_pageants.present?
        = render "pageants/other_pageants", pageants: @other_pageants, title: "Current Pageants"
      = render "shared/side_script"
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));