// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contestant

  .photo
    float: left
    width: 130px
    text-align: right
    img
      display: inline-block

  .info
    margin-left: 140px
    .name
      font-size: 16px
      line-height: 1em
      margin: 0

    .description
      font-size: 14px
      line-height: 1em
      margin: 5px 0 0 0

    .votes
      font-size: 18px
      line-height: 1em
      margin: 5px 0 0 0

.gallery-container
  width: 100%
  .main-image-container
    .main-image
      position: relative
      img
        margin: 0px auto
      &.admin:hover
        .action
          display: block
          z-index: 1
        .image
          opacity: 0.4
      .action
        position: absolute
        display: none
        top: 0
        right: 0
        margin: 8px 10px 0 0
    .slidesjs-pagination
      text-align: center
      margin: 2px auto
      .slidesjs-pagination-item
        display: inline-block
        position: relative
        width: 19%
        max-width: 80px
        max-height: 80px
        margin: 0px 1px
        cursor: pointer
        &.admin:hover
          .action
            display: block
            z-index: 1
          .image
            opacity: 0.4
        .action
          display: none
          top: 0
          right: 0
          margin: 2px 2px 0 0
          position: absolute

.info-details
  line-height: 2em
  width: 100%
  .info-multiline
    font-size: 15px
    line-height: 1.3em

.vote-button,
.premium-button,
.voting-info,
.submit-boost-votes-button
  display: block
  width: 90%
  margin: 10px 0 0

.boost-votes-details
  line-height: 2em
  display: none
  width: 100%
  .boost-votes-title
    font-size: 20px
    border-top: 1px solid #ddd
    margin-top: 5px
    padding-top: 5px
    width: 95%
  .boost-votes-option
    margin-bottom: 10px
    font-size: 14px
    img
      display: inline-block
      width: 80px
      margin: 0 5px

.cancel-boost-votes
  display: block
  width: 90%
  text-align: center
  a
    color: #888 !important

.boost-votes
  width: 90%
  text-align: center
  a
    font-size: 16px !important