.social-share-buttons-container
  margin-top: 10px
  .social-share-title
    line-height: 1.3em !important
    font-size: 12px

.social-share-button-facebook
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/facebook.png"))

.social-share-button-twitter
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/twitter.png"))

.social-share-button-google_plus
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/googleplus.png"))

.social-share-button-tumblr
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/tumblr.png"))

.social-share-button-email
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/email.png"))

.social-share-button-delicious
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/delicious.png"))

.social-share-button-pinterest
  display: inline-block
  width: 32px
  height: 32px
  background: url(asset_path("social/pinterest.png"))