@import "bootstrap-sprockets"
@import "bootstrap"

img
  @extend .img-responsive
  margin: 0 auto

.no-wrap
  white-space: nowrap
  
.alert
  margin-bottom: 0 !important

.navbar-brand
  font-size: inherit

.column
  @extend .col-md-6
  @extend .text-center

.form
  @extend .col-md-6

.form-centered
  @extend .col-md-6
  @extend .text-center

.submit
  @extend .btn
  @extend .btn-primary
  @extend .btn-lg

.authform
  padding-top: 30px
  max-width: 320px
  margin: 0 auto

.authform form
  @extend .well
  @extend .well-lg
  padding-bottom: 40px

.authform .right
  float: right !important

.authform .button
  @extend .btn
  @extend .btn-primary

.authform fieldset
  @extend .well

#error_explanation
  @extend .alert
  @extend .alert-danger

#error_explanation h2
  font-size: 16px

.button-xs
  @extend .btn
  @extend .btn-primary
  @extend .btn-xs

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse
  min-height: 65px
  
@media (max-width: 450px)
  .home-slider-container
    display: none
  
@media (max-width: 767px)
  .navbar-collapse
    background: url(asset_path("bg-main.jpg"))
    li
      margin: 0
      text-align: center
      &:hover
        opacity: 0.7
      a
        color: #333 !important
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.1)

.navbar-toggle
  background-color: #aaaaaa
  border: none
  margin: 13px 10px 13px 0
  opacity: 0.7
  &:hover, &:active, &:visited
    background-color: #aaaaaa !important
  .icon-bar
    height: 3px
    background-color: #333 !important
    
span.radio label
  line-height: 22px
  
.nav > li > a 
  padding: 12px 0 !important