span.radio
  margin: 0 25px 0 0 !important

input:not([type="button"]):not([type="radio"]):not([type="submit"])
  padding: 4px
  height: 30px !important

textarea
  padding: 4px !important
  resize: none

nav
  background: #eeeeee url(asset_path('bg-header.png'))center top

#system_alert .alert
  margin: 20px 0 -20px

input
  &.file
    line-height: 1

.btn
  font-family: "Open Sans", sans-serif

.top-info
  color: #222
  padding: 5px

table.info
  td.key
    font-weight: 800
    padding: 2px 30px 2px 0px

.pagination
  margin: 10px auto 0
  display: inline-block
  a
    float: left
    padding: 0 10px
    line-height: 26px

.search-box
  border: 0 !important
  padding: 7px 7px 0
  line-height: 10px
  input
    float: left
    &.fld
      width: 150px
    &.btn
      margin-left: -3px

form.simple_form
  .form-fields
    margin-bottom: 20px
  .form-group
    margin-bottom: 15px
    .row-fluid
      margin-bottom: -5px
    .help-block
      opacity: 0.8
      font-size: 12px
      font-style: italic
    &.has-error
      input
        border: 1px solid #990000
      .help-block
        color: #990000
      .control-label
        color: #990000

  .error_notification
    margin: 0 0 30px
    color: #990000


  .radio_buttons .radio
    display: inline-block
    margin-right: 20px
    input
      display: inline-block
      width: 22px
      margin-top: -3px
    label
      padding-top: 4px

.acenter
  text-align: center

.aright
  text-align: right

.no-wrap
  white-space: nowrap

.pad-top-bottom
  padding-top: 10px
  padding-bottom: 10px

.pad-top-bottom-medium
  padding-top: 20px
  padding-bottom: 20px

.add-top-bottom
  margin-top: 25px
  margin-bottom: 10px

.add-top-bottom-medium
  margin-top: 20px
  margin-bottom: 20px

.add-top
  margin-top: 10px

.add-top-medium
  margin-top: 20px

.add-left-small
  margin-left: 10px

.add-right-small
  margin-right: 10px

.add-right-left-small
  margin-right: 5px
  margin-left: 5px

.google-ad
  border: none

.label
  padding: 3px 5px 4px
  font-size: 11px
  margin-right: 5px

.search-list
  display: inline-block
  width: 185px
  float: right
  margin-top: -55px
  margin-right: 13px
  input[type="text"]
    width: 160px

.btn-cancel
  margin: -5px 0 0

.modal
  .alert
    margin-bottom: 12px !important

table
  th
    font-weight: 800
    text-transform: uppercase
  &.table-no-margin-bottom
    margin-bottom: 0
  &.table-slim-first-column td:first-child
    width: 20px !important

.no-pad
  padding: 0 !important

.alert
  &.alert-large
    font-size: 16px
    line-height: 1.3em
  &.alert-center
    text-align: center

h2
  line-height: 0.9em
  margin-bottom: 10px

.page-title
  font-size: 30px
  line-height: 0.9em
  margin: 0 0 10px
  font-family: "Open Sans", serif
  font-weight: 400

.page-light-title
  font-size: 20px
  line-height: 1.2em

.page-votes-link
  font-size: 14px
  line-height: 1em
  margin-bottom: 5px

.page-small-title
  font-size: 12px
  line-height: 1.5em

.page-controls a
  margin: 0px
  font-size: 14px
  margin: -10px 15px 0 0
  white-space: nowrap

.page-info
  margin: 10px 0

.page-votes
  font-size: 24px

.page-description
  font-size: 16px
  line-height: 1.2em
  margin: 5px 0

.page-labels
  margin: 10px

.page-intro
  margin: 0 0 5px

.page-minititle
  font-size: 18px

.page-subtitle
  font-size: 14px

.footer
  line-height: 20px
  a
    padding: 3px 10px
    width: auto
    overflow: hidden
    whitespace: nowrap
    text-overflow: ellipsis

.add-left-right
  margin-right: 10px
  margin-left: 10px

.social-share-title
  font-size: 14px !important

.footer a
  white-space: nowrap

.wyiswyg-content ul
  margin-left: 40px

.social-share-title, .count-down-title
  margin: 15px 0 5px
  font-size: 14px !important

.counter_table
  margin: -5px 0 10px
  border-top: 3px solid #fff
  border-bottom: 3px solid #fff
  height: auto
  width: 100%
  font-weight: 700
  .item
    width: 55px
    height: 60px
    margin: 0 5px
    border: 1px solid #dedede
    display: inline-block
    color: #666
    font-size: 18px
    text-align: center
    line-height: 1em
    &:last-child
      margin-right: 0 !important
    &:first-child
      margin-left: 0 !important
    .days, .hours, .minutes, .seconds
      margin: 10px 0 0 0
    .label
      color: #777
      font-size: 12px
      font-weight: 400
      padding: 0 !important
      margin: 5px 0 0 !important

.link-icon
  margin-left: -10px
  width: 20px
  text-align: center

.home-slider-container
  width: 170px
  height: 280px
  img
    width: 170px

.navbar-brand
  margin-left: 0px !important

.developer a
  padding: 3px

.table-slim
  td, th
    padding: 3px !important

.pagination_info
  text-align: center
  margin: 0px auto 10px

.buy_a_vote
  .pageant-contestants
    display: none
    &.active
      display: block
  .vote-quantity
    display: none
  .form-buttons
    display: none
    padding: 0px !important

.striked
  text-decoration: line-through

table.table-compact td
  padding: 3px 5px !important

#save_paypal_email
  padding: 4px 8px

.form-group.user_paypal_email .input-group
  margin: auto
  max-width: 350px

.no-wrap
  white-space: nowrap

.aleft
  text-align: left

.withdrawal_amount .input-group,
.bonus_amount .input-group
  width: 150px
  margin: 0 auto

.withdrawal_transaction_id
  width: 250px
  margin: 0 auto
  input
    text-align: center

.w100
  width: 100px

.w150
  width: 150px

.switch_placeholder
  margin: 0 auto

.ad-box
  display: block
  border: none
  overflow: hidden
  width: 100%
  margin: 10px auto
  max-width: 320px
  text-align: center

.modal-thin .modal-dialog
  width: 400px

.side-images
  margin-top: 10px

.link-red
  color: #AC483E !important

.link-green
  color: #48A943 !important