// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-banner
  margin: 0 auto
  max-width: 390px
  display: block
  min-height: 280px
  .home-slider-container
    float: right
    position: relative
    text-align: right
    img
      position: absolute
      top: 0
      right: 0
  .home-context
    width: 230px
    margin: 0
    .top-text
      color: #6762EF
      text-align: center
      .home-title
        font-size: 26px
        font-weight: 800
        text-shadow: 2px 2px 1px rgba(116, 116, 116, 0.3)
      .home-subtitle
        font-size: 20px
        font-weight: 600
    .bottom-text
      padding: 30px 5px 10px 5px
      font-size: 14px
      color: #222222
      .home-check
        font-size: 13px
      .fa
        font-size: 18px
        color: green
        width: 20px
      .home-link
        margin-top: 10px
        font-size: 14px
  .home-slider
.home-listing
  margin: 10px 0
  .home-listing-item
    font-size: 15px


.login-buttons
  margin: 50px auto
  text-align: center
  .login-button
    margin: 0px auto
    line-height: 60px !important
    a
      display: inline-block
      img
        height: 60px
        
@media (max-width: 368px)
  .home-banner
    .home-context
      margin: 10px auto !important

@media (max-width: 768px)
  .home-banner
    .home-context
      .home-title
        font-size: 24px !important
      .home-subtitle
        font-size: 18px !important
      .bottom-text
        font-size: 12px !important
  .paged.padding-medium
    padding: 0px !important
