// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pageant-header
  border-bottom: 1px solid #ddd

.pageant
  position: relative
  min-height: 80px
  .pageant-photo
    float: left
    width: 80px
  .pageant-info
    padding: 5px
    margin-left: 85px
  .pageant-title
    font-size: 16px
    line-height: 1em
    margin: 0
  .pageant-span
    font-size: 14px
    line-height: 1em
    margin: 5px 0 0 0
  .pageant-labels
    margin: 5px 0

#fb-plugin-modal
  .modal-dialog
    margin-top: 100px
    width: 400px
  .modal-content
    background-color: rgba(255, 255, 255, 0.9) !important
  .modal-body
    padding: 50px