= f.error_notification
- default = PremiumDenomination.find_by(code: "PVP-30D")
.row-fluid.form-fields.clearfix
  .col-sm-6.no-pad
    = f.input :premium_denomination_id, label: "Denomination", as: "radio_buttons", collection: PremiumDenomination.limit(2).collect{|v| [v.name, v.id]}, checked: default.id
  .col-sm-6.no-pad
    = f.input :txn_id, label: "Paypal Transaction ID", autofocus: true, input_html: {value: "Registered by Admin"}
  .col-sm-6.no-pad
    = f.input :price, input_html: {value: default.price}
  
.form-buttons
  %p
    = f.submit "Submit", class: "button"
    = link_to "Cancel", user_path(params[:id]), class: "btn btn-cancel"