- contestant = activity.resource
- pageant = activity.resource.pageant
%tr
  %td
    = activity.action == "created" ? "Added" : activity.action.titleize
    = link_to contestant.name, pageant_contestant_path(pageant, contestant)
    = activity.action == "created" ? "to" : "from"
    = link_to pageant.name, pageant_path(pageant)
    = "pageant."
  %td= wiser_date activity.created_at, real_time: false