- transaction = activity.resource
%tr
  %td
    - if transaction.pending?
      = "Initiated to avail"
    - elsif transaction.completed?
      = "Completed to avail"
    - elsif transaction.failed?
      = "Failed to avail"
    - if bulk_vote = transaction.bulk_vote
      - contestant = bulk_vote.contestant

      - link = link_to contestant.name, pageant_contestant_path(contestant.pageant, contestant)
      =raw "#{transaction.premium_denomination.name} x#{bulk_vote.quantity} for #{link}."
    - else
      = "#{transaction.premium_denomination.name}."
    - if transaction.txn_id.present?
      = "TXN:#{transaction.txn_id}"
  %td= wiser_date activity.created_at, real_time: false