- contestant = activity.resource.contestant
- pageant = activity.resource.contestant.pageant
%tr
  %td
    = "Voted"
    = link_to contestant.name, pageant_contestant_path(pageant, contestant)
    = "in"
    = link_to pageant.name, pageant_path(pageant)
    = "pageant."
  %td= wiser_date activity.created_at, real_time: false