- if flash.present?
  #system_alert.container-fluid.clearfix
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'} alert-large alert-center"}
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = content_tag :div, raw(msg), :id => "flash_#{name}"
