!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %title= content_for?(:title) ? yield(:title) : "#{ENV['APP_NAME']}"
    %meta{:name => "description", :content => "#{ENV['APP_NAME']} is an Online Voting Application for local, school, university and international pageants. "}

    - if content_for?(:info_url)
      %meta{:property => "og:url", :content => yield(:info_url)}
    - if content_for?(:info_title)
      %meta{:property => "og:title", :content => yield(:info_title)}
    - if content_for?(:info_description)
      %meta{:property => "og:description", :content => yield(:info_description)}
    - if content_for?(:info_image)
      %meta{:property => "og:image", :content => yield(:info_image)}
    %meta{:property => "fb:app_id", :content => "#{ENV['OMNIAUTH_PROVIDER_KEY']}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - unless false #Rails.env.development?
      %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif:400,700", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true
      = javascript_include_tag 'respond', 'data-turbolinks-track' => true
  %body
    = render "shared/navigation"
    %main
      = render "layouts/messages"
      = yield
    = render "shared/footer"
    - unless Rails.env.development?
      = render "shared/analytics"
