/*
* Theme: Fireworks Launch Center
* Author: The Fireworks Police
*/

/* #General
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin:0px; 
	padding:0px; 
	border:0px; 
	border-collapse:separate; 
	border-spacing:0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-decoration:none;
}

html {
	height: 100%;
	width: 100%;
	margin:0px;
}

body {
	width: auto;
	color: rgba(255,255,255,0.7);
	letter-spacing: 1px;
	font: 13px 'Open Sans', sans-serif; 
	background: #333333 url('../img/preview_bg.png') center top;
}

a { 
	color: #FF7F00;
	text-decoration:none; 
}

a:hover, a:active { 
	text-decoration:none;
	color: #666666;
}

a img { 
	border: 0px; 
}

p { 
	margin-bottom:20px; 
	font: 13px 'Open Sans', sans-serif; 
	line-height: 1.8em;
	letter-spacing: 0.05em;
}

strong, b { 
	font-weight:600; 
}

p b, p strong { 
	font-weight:600; 
}

em, i {
	font-style: italic;
}

h1, h2, h3, h4 {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	line-height: 1em;
	color: #666666;
}

h1 { font-size: 40px; line-height: 50px; }
h2 { font-size: 30px; line-height: 40px; }
h3 { font-size: 20px; line-height: 30px; }
h4 { font-size: 16px; line-height: 26px; }
h5 { font-size: 14px; line-height: 240px;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1em; }
h5 span { text-decoration: underline; }

hr {
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

img { max-width: 100%; }


a.label:hover { background-color: rgba(255,255,255,0.9);}


/************ SHORT CODES *************/
::selection {
	background: #FFE0CC;
}
::-moz-selection {
	background: #FFE0CC;
}

.responsive-image { max-width: 100%; }

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom, .margin-bottom { margin-bottom: 20px !important; }
.add-bottom-large, .margin-bottom-large { margin-bottom: 50px !important; }
.add-bottom-exlarge, .margin-bottom-exlarge { margin-bottom: 100px !important; }
.add-top, .margin-top { margin-top: 20px !important; }
.add-top-medium, .margin-top-medium { margin-top: 30px !important; }
.add-top-large, .margin-top-large { margin-top: 50px !important; }
.add-top-exlarge, .margin-top-exlarge { margin-top: 100px !important; }
.add-left {margin-left: 20px;}
.margin-tb-large { margin-top: 50px !important; margin-bottom: 50px !important; }
.margin-tb-medium { margin-top: 25px !important; margin-bottom: 25px !important; }
.margin-tb-small { margin-top: 10px !important; margin-bottom: 10px !important; }
.margin-lr-large { margin-left: 0 50px !important; }
.margin-lr-medium { margin: 0 25px !important; }
.margin-lr-small { margin: 0 10px !important; }
.margin-auto { margin-left: auto; margin-right: auto; }
.no-margin { margin-left: 0; margin-right: 0; }
.padding-tb-exlarge { padding: 50px 0 !important; }
.padding-tb-large { padding: 30px 0 !important; }
.padding-tb-medium { padding: 20px 0 !important; }
.padding-tb-small { padding: 10px 0 !important; }
.padding-lr-large { margin: 0 30px !important; }
.padding-lr-medium { margin: 0 20px !important; }
.padding-lr-small { margin: 0 10px !important; }
.padding-right { padding-right: 20px; }
.padding-left { padding-left: 20px; }
.padding-large { padding: 30px !important;}
.padding-medium { padding: 20px !important;}
.padding-small { padding: 10px !important;}
.padding-top-small { padding-top: 3px !important; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.image-left { float: left; margin-right: 15px; margin-bottom: 5px; }
.image-left-dashed-dark { 	float: left; margin-right: 15px; margin-top: 5px; border: 1px dashed #999; padding: 8px; }

.min-height { height: 100px; }

.border-right { border-right: 1px solid #999999;}
.border-bottom { border-bottom: 1px solid #999999;}
.border-left { border-left: 1px solid #999999;}
.border-top { border-top: 1px solid #999999;}

.color-orange { color: #F60; }
.color-white { color: #FFFFFF; }
.color-yellow { color: #FFF222; }
.color-green { color: #D2EF28; }

.single-space { line-height: 1em; }
.half-space { line-height: 1.5em;}
.double-space { line-height: 2em; }

.font-size-100 { font-size: 100px; }
.font-size-90 { font-size: 90px; }
.font-size-80 { font-size: 80px; }
.font-size-70 { font-size: 70px; }
.font-size-60 { font-size: 60px; }
.font-size-50 { font-size: 50px; }
.font-size-40 { font-size: 40px; }
.font-size-30 { font-size: 30px; }
.font-size-20 { font-size: 20px; }
.font-size-10 { font-size: 10px; }

.background-white { background-color: #FFFFFF; }
.background-black { background-color: #000000; }