/* ==================================================
* Theme: Orange City
* Author: The Fireworks Police
* Version: 1.1
================================================== */

/* #General
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin:0px; 
	padding:0px; 
	border:0px; 
	border-collapse:separate; 
	border-spacing:0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-decoration:none;
}

html {
	height: 100%;
	width: 100%;
	margin:0px;
}

body {
	width: auto;
	color: #777777;
	letter-spacing: 1px;
	font: 13px 'Open Sans', sans-serif; 
	background: #EEEEEE url('../img/background.png') center top;
    
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a { 
	color: #FF7F00;
	text-decoration:none; 
}

a:hover, a:active { 
	text-decoration:none;
	color: #666666;
}

a img { 
	border: 0px; 
}

p { 
	margin-bottom:20px; 
	font: 13px 'Open Sans', sans-serif; 
	line-height: 1.8em;
	letter-spacing: 0.05em;
}

strong, b { 
	font-weight:600; 
}

p b, p strong { 
	font-weight:600; 
}

em, i {
	font-style: italic;
}

blockquote p {
    font-size: 14px !important;
    line-height: 1.8em;
}

h1, h2, h3, h4 {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	line-height: 1em;
	color: #666666;
}

h1 { font-size: 40px; line-height: 50px; }
h2 { font-size: 30px; line-height: 40px; }
h3 { font-size: 20px; line-height: 30px; }
h4 { font-size: 16px; line-height: 26px; }
h5 { font-size: 14px; line-height: 240px;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1em; }
h5 span { text-decoration: underline; }

.intro:first-letter {  
	font-family: 'Open Sans', sans-serif;
	font-size: 250%;
	line-height: 100%; 
	float: left; 
	text-align: center;
	margin: 5px 5px 0 3px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #DD6E00;
	color: #FFFFFF;
}

hr {
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px rgba(255,255,255,0.5);
}

/* #Social Bar
================================================== */

.socialbar {
	height: 30px;
	overflow: hidden;
	background-color: #FFCC80;
	border-bottom: 1px solid #FF7F00;
	width: 100%;
	padding: 0;
	z-index: 999;
}

.borderless .ss li { border: none; }
.borderless .ss li:first-child { border: none; }

.ss { width: auto; margin: 0; padding: 0; text-align: right; overflow: hidden; font-size: 0; }
.ss li { display: inline-block; margin: 0 5px; padding: 0; border-right: 1px solid rgba(0,0,0,0.2); background-image:url("../img/socialsprites_small.png"); background-repeat: no-repeat;
-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.ss li:hover {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.ss li:first-child { border-left: 1px solid rgba(0,0,0,0.2); }
.ss li a { display: block; text-indent: -9999; height: 30px; width: 30px; }
.ss li a:active { box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3); }

.ss li.digg { background-position: 0 0; }
.ss li.digg:hover { background-position: 0 -30px; }
.ss li.dribbble { background-position: 0 -60px; }
.ss li.dribbble:hover { background-position: 0 -90px; }
.ss li.facebook { background-position: 0 -120px; }
.ss li.facebook:hover { background-position: 0 -150px; }
.ss li.flickr { background-position: 0 -180px; }
.ss li.flickr:hover { background-position: 0 -210px; }
.ss li.forrst { background-position: 0 -240px; }
.ss li.forrst:hover { background-position: 0 -270px; }
.ss li.googleplus { background-position: 0 -300px; }
.ss li.googleplus:hover { background-position: 0 -330px; }
.ss li.html5 { background-position: 0 -360px; }
.ss li.html5:hover { background-position: 0 -390px; }
.ss li.icloud { background-position: 0 -420px; }
.ss li.icloud:hover { background-position: 0 -450px; }
.ss li.lastfm { background-position: 0 -480px; }
.ss li.lastfm:hover { background-position: 0 -510px; }
.ss li.linkedin { background-position: 0 -540px; }
.ss li.linkedin:hover { background-position: 0 -570px; }
.ss li.myspace { background-position: 0 -600px; }
.ss li.myspace:hover { background-position: 0 -630px; }
.ss li.paypal { background-position: 0 -6600px; }
.ss li.paypal:hover { background-position: 0 -690px; }
.ss li.picasa { background-position: 0 -720px; }
.ss li.picasa:hover { background-position: 0 -750px; }
.ss li.pinterest { background-position: 0 -780px; }
.ss li.pinterest:hover { background-position: 0 -810px; }
.ss li.reddit { background-position: 0 -840px; }
.ss li.reddit:hover { background-position: 0 -870px; }
.ss li.rss { background-position: 0 -900px; }
.ss li.rss:hover { background-position: 0 -930px; }
.ss li.skype { background-position: 0 -960px; }
.ss li.skype:hover { background-position: 0 -990px; }
.ss li.stumbleupon { background-position: 0 -1020px; }
.ss li.stumbleupon:hover { background-position: 0 -1050px; }
.ss li.tumblr { background-position: 0 -1080px; }
.ss li.tumblr:hover { background-position: 0 -1110px; }
.ss li.twitter { background-position: 0 -1140px; }
.ss li.twitter:hover { background-position: 0 -1170px; }
.ss li.vimeo { background-position: 0 -1200px; }
.ss li.vimeo:hover { background-position: 0 -1230px; }
.ss li.wordpress { background-position: 0 -1260px; }
.ss li.wordpress:hover { background-position: 0 -1290px; }
.ss li.yahoo { background-position: 0 -1320px; }
.ss li.yahoo:hover { background-position: 0 -1350px; }
.ss li.youtube { background-position: 0 -1380px; }
.ss li.youtube:hover { background-position: 0 -1410px; }


/* #Navigation
================================================== */

nav {
	width: auto;
	min-height: 60px;
	background-color: #FFFFFF;
	-moz-box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	-webkit-box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true);
}

nav ul {
	margin: 0;
	padding-top: 20px;
	text-align: right;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	font-family: 'Open Sans', san-serif;
	font-size: 13px;
	color: #666666;
	text-transform: uppercase;
	padding: 0 10px;
	text-decoration: none;
	border-width:6px 6px 6px 6px;
	-moz-border-image:url(../img/spacer.png) 6 6 6 6 repeat;
	-webkit-border-image:url(../img/spacer.png) 6 6 6 6 repeat;
	border-image:url(../img/spacer.png) 6 6 6 6 repeat;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

nav ul li a:hover, nav ul li a.selected {
	color: #FF7F00;
	text-decoration: none;
	border-width: 6px 6px 6px 6px;
	-moz-border-image: url(../img/border-mask.png) 6 6 6 6 repeat;
	-webkit-border-image: url(../img/border-mask.png) 6 6 6 6 repeat;
	border-image: url(../img/border-mask.png) 6 6 6 6 repeat;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

nav ul li a:active {
	background: transparent url('../img/transparent.png') center top;
	color: #e00000;
}

nav ul li {
    position: relative;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul {
    visibility: hidden;
    position: absolute;
    left: auto;
    right: -100px;
    top: 23px;
    width: 200px;
    
    background-color: #FFF;
    text-align: left;
    margin-top: 0;
    padding: 0 10px 5px;
    
    
    -moz-box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	-webkit-box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	box-shadow:0px 2px 3px rgba(204,204,204,0.65);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true);
}

nav ul li ul li {
    width: auto;
    display: block !important;
}

nav ul li ul li a {
	text-decoration: none;
	border: none;
    height: 30px;
    line-height: 30px;
    width: 180px;
    display: block !important;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

nav ul li ul li a:hover {
	border: none;
    background-color: #f9f9f9;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

nav ul li ul li a:hover:before {
    content: "»";
    margin-right: 5px;
}
    
.dropdown-menu {
	border: 1px solid #DDDDDD;
	margin-top: 10px;
}

.dropdown-menu ul li {
	padding: 0;
	margin-left: 0;
}

/***RESPONSIVE NAVGIATION***/

.navigation select { display: none; }

select {
	  -webkit-appearance: button;
	  -webkit-user-select: none;
	  background-image: url(../img/selectdown.png);
	  background-position: center right;
	  background-repeat: no-repeat;
	  color: #666666;
	  font-size: inherit;
	  margin: 0;
	  overflow: hidden;
	  padding-top: 2px;
	  padding-bottom: 2px;
      padding-left: 10px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
}

.logo { height: 50px; float: left; padding: 0; margin: 0; font-size: 13px; }

.service_icon {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	float: left;
	text-align: center;
	background: #FFFFFF;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
	padding: 3px 2px 0 2px;
}


/* #Slider
================================================== */

header {
	width: 1180px;
	margin: 30px auto;
	padding: 10px;
	background-color: #FFFFFF;
	-moz-box-shadow:0px 2px 2px rgba(187,187,187,0.65);
	-webkit-box-shadow:0px 2px 2px rgba(187,187,187,0.65);
	box-shadow:0px 2px 2px rgba(187,187,187,0.65);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6bbbbbb,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6bbbbbb,Positive=true);
}



.skills {
	width: auto;
	min-height: 70px;
	padding: 20px 0;
	background-color: #FFFFFF;
	-moz-box-shadow:0px 2px 2px rgba(204,204,204,0.65);
	-webkit-box-shadow:0px 2px 2px rgba(204,204,204,0.65);
	box-shadow:0px 2px 2px rgba(204,204,204,0.65);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#a6cccccc,Positive=true);
}

.skill_img {
	height: 50px;
}

.skills h6 {
	font-size: 12px;
	margin-top: 5px;
	color: rgba(0,0,0,0.7);
	text-shadow: none;
}

.skill_item {
	text-align: center;
	height: 70px;
	opacity: 0.5;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.skill_item:hover {
	opacity: 1;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


.home_twitter {
    width: auto; 
    height: 100%; 
    background: url('../img/home_twitter.png') no-repeat bottom left;
}

.home_testimonial {
    width: auto; 
    height: 100%; 
    background: url('../img/home_testimonial.png') no-repeat bottom left;
}


/*** About Page Slider ***/

.canvas-slider-container { width: auto; position: relative; text-align: center; }

.canvas-slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 225px;
    padding: .5em;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 300px;
}
.canvas-slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

/* Mat */

.canvas-slider:after {
    background-color: #eee;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

/* Slides */

.canvas-slider li {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07);
    /*box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);*/
    list-style:none;
    position: absolute;
}
.canvas-slider input {
    display: none;
}

/* Navigation */

.canvas-slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.canvas-slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.canvas-slider:hover label {
    opacity: 1;
    visibility: visible;
}
.canvas-slider input:checked + label {
    background-color: #fff;
}
.canvas-slider:hover li:nth-child(1) label {
    left: .5em;
}
.canvas-slider:hover li:nth-child(2) label {
    left: 2em;
}
.canvas-slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.canvas-slider:hover li:nth-child(4) label {
    left: 5em;
}

/* Images */

.canvas-slider img {
    /*height: 15em;*/
    height: 225px;
    width: 300px;
    opacity: 0;
    transition: .25s;
    /*width: 25em;*/
    vertical-align: top;
    visibility: hidden;
    border: none;
}
.canvas-slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* #Service
================================================== */	

.join {
	width: auto;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding: 30px 0;
	color: #888888;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.join:hover {
	background-color: rgba(255,255,255,0.4);
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.join h3 {
	font-size: 20px;
	letter-spacing: 0;
	font-style: italic;
	line-height: 21px;
	color: #777777;
}

.join h3 span {
	color: #F60;
}

.join p {
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 1px;
	margin-bottom: 0;
	padding: 0;
}

a.buy_button {
	width: 192px;
	border: 4px solid rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	text-align: center;
	padding: 7px 30px;
	height: 27px;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.buy_button:hover {
	border-color: #F60;
	color: #F60;
}

a.buy_button:active {
	border-color: rgba(0,0,0,0.7);
}

.promobox {
	width: auto;
	min-height: 140px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

    .promobox:hover {
	   border: 1px solid rgba(255,255,255,1);
        -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true);
    }

.promobox p {
	font-size: 12px;
	color: #A7A8A8;
	line-height: 21px;
	margin-top: 12px;
}

.promobox h3 {
	margin: 20px 20px 10px 20px;
}

.promobox_container {
	padding-right: 130px;
	padding-left: 20px;
}

.promo1 {
	background: rgba(255,255,255,0.9) url('../img/promo_fw.png') no-repeat bottom right;
}

.promo2 {
	background: rgba(255,255,255,0.9) url('../img/promo2.png') no-repeat bottom right;
}

.promo3 {
	background: rgba(255,255,255,0.9) url('../img/promo_design.png') no-repeat bottom right;
}

.promo4 {
	background: rgba(255,255,255,0.9) url('../img/promo_mobile.png') no-repeat bottom right;
}

.promo {
	text-align: center;
	background: url('../img/ribbon.png') no-repeat center bottom;
	padding: 50px 0;
}

.promo h4 {
	line-height: 30px;
}

.promo h1 {
	line-height: 70px;
	margin-bottom: 10px;
}

.login {
	text-align: center;
	background: url('../img/ribbon.png') no-repeat center bottom;
	padding: 30px 0 40px 0;
}

.login h4 {
	line-height: 20px;
	font-size: 15px;
}

.login input {
	height: 30px;
	padding: 0 5px;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 1px;
	color: #F60;
}

.login a.buy_button {
	width: 192px;
	border: 2px solid rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	text-align: center;
	padding: 5px 30px;
	height: 27px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.login a.buy_button:hover {
	border-color: #F60;
	color: #F60;
}

.login a.buy_button:active {
	border-color: rgba(0,0,0,0.7);
}

.register input {
	height: 30px;
	padding: 0 5px;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 1px;
	color: #F60;
}

.register a.buy_button {
	width: 192px;
	border: 2px solid rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	text-align: center;
	padding: 5px 10px;
	height: 27px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.register a.buy_button:hover {
	border-color: #F60;
	color: #F60;
}

.register a.buy_button:active {
	border-color: rgba(0,0,0,0.7);
}

.teambox {
	width: auto;
	min-height: 140px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

    .teambox:hover {
	   border: 1px solid rgba(255,255,255,1);
        -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true);
    }

.teambox p {
	font-size: 12px;
	color: #A7A8A8;
	line-height: 21px;
	margin-top: 12px;
}

.teambox h3 {
	margin: 20px 20px 10px 20px;
}

.teambox_container {
	padding-right: 115px;
	padding-left: 20px;
}

.team1 {
	background: rgba(255,255,255,0.9) url('../img/team1.png') no-repeat bottom right;
}

.team2 {
	background: rgba(255,255,255,0.9) url('../img/team2.png') no-repeat bottom right;
}

.team3 {
	background: rgba(255,255,255,0.9) url('../img/team3.png') no-repeat bottom right;
}

.team4 {
	background: rgba(255,255,255,0.9) url('../img/team4.png') no-repeat bottom right;
}

.recent_items {
	width: auto;
	height: 100%;
	padding: 10px 10px;
	margin: 0 auto;
}

.recent_items span {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #FFFFFF url('../img/preview.png') no-repeat center center;
	z-index: 1;
	top: 0;
	left: 0;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.recent_items span:hover {
	opacity: 0.5;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.blog_details {
	text-align: left;
	background: url('../img/ribbon.png') no-repeat center bottom;
	padding: 10px 55px 20px;
}

.blog_details p {
	margin: 5px;
	font-size: 15px;
}

.blog p {
	font-size: 15px;
}

.blog h1 {
	font-size: 30px;
	line-height: 35px;
    padding: 10px 0;
    font-weight: lighter;
}

.blog-featured-image { 
    width: auto; 
    max-height: 296px; 
    overflow: hidden; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a.blog-featured-image img { 	
    opacity: 0.9; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a.blog-featured-image img:hover { 	
    opacity: 1; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.blog .blog-post { width: auto; margin: 10px 20px; }

.blog .post-meta { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #FF7F00; }

/*
* Author Box 
*/

.author-box {
    border-top: 4px solid rgba(255,60,0,0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background: url('../img/divider.png') repeat-x left bottom;
}

.author-image {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.author-info{ 
    padding-left: 20px;
}

.author-info h2 {
    font-weight: 400 !important;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
}


.social-bar {
	overflow: auto;
	width: auto;
	margin: 20px auto;
}

.social-bar-item {
	width: 20%;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	border-top: 10px solid;
	overflow: hidden;
	-webkit-transition: border-width .25s ease;
	-moz-transition: border-width .25s ease;
	-ms-transition: border-width .25s ease;
	-o-transition: border-width .25s ease;
	transition: border-width .25s ease;
}

.social-bar-item:hover,
.social-bar-item:focus {
	border-top-width: 0;
}

.social-bar-item-twitter {
	border-top-color: #00ACED; 
}

.social-bar-item-github {
	border-top-color: #D9D9D9; 
}

.social-bar-item-facebook {
	border-top-color: #3C5A98; 
}

.social-bar-item-google {
	border-top-color: #DD4B39; 
}

.social-bar-item-share {
	border-top-color: green; 
}

.social-bar-item-text {
	display: block;
	opacity: 0;
	font-size: 12px;
	color: #333;
	text-decoration: none;

	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;

	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}

.social-bar-item:hover .social-bar-item-text,
.social-bar-item:focus .social-bar-item-text {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);

	opacity: 1;
}

/*
* Comments
*/

.comment-container { margin: 0 10px; }

.comment {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.comment-image {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.comment a img {
    -moz-transition: all .2s ease 0;
    -webkit-transition: all .2s ease 0;
    transition: all .2s ease 0
}

.comment a img:hover {
    border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    
    -moz-transition: all .2s ease 0;
    -webkit-transition: all .2s ease 0;
    transition: all .2s ease 0
}

.comment-post{ 
    padding: 20px 20px 5px;
    padding-right: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
}

.author-reply {
    border-color: rgba(255,60,0,0.5);
    background-color: rgba(255,60,0,0.05);
}

.comment-post h2 {
    font-weight: 400 !important;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
}

.comment-post h2 span {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    color: #999;
}

.comment-count {
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 30px;
    font-style: italic;
    color: rgba(0,0,0,0.1);
}

.comment-post-settings {
    display: block;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
}

.comment-post-settings a {
    padding: 0 20px;
    border-right: 1px dashed #ccc;
}

.comment-post-settings span {
    padding-left: 20px;
    font-weight: 600;
    color: #999;
}

.comment-post-settings span a {
    padding: 0;
    margin: 0;
    border: none;
}

/*
* Comment Filter Tabs 
*/

.comment-tabs {
    border-bottom: 1px solid rgba(0,0,0,.1);
    clear: both;
    list-style: none;
    margin-bottom: 50px;
}

.comment-tabs li {
    border-right: 1px solid rgba(0,0,0,.1);
    display: inline-block;
    margin: 0;
}

.comment-tabs a {
    background-color: #fff;
    color: #666;
    display: block;
    position: relative;
    text-align: center;
    width: 150px;
    margin: 0;
    padding: 1em;
}

.comment-tabs a:hover {
    color:#FFF;
    background-color: rgba(255,60,0,0.8);
    -moz-transition: all .2s ease 0;
    -webkit-transition: all .2s ease 0;
    transition: all .2s ease 0;
}

.comment-tabs a.active:hover {
    color: #FFF;
}

.comment-tabs a.active {
    color:#333;
}

.comment-tabs a.active:after {
    border: 10px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
    bottom: 0;
    content: "";
    height: 10px;
    right: 44%;
    width: 0;
    position: absolute;
}

/*
* Comment Form
*/

.commentform, .commentform p input, .commentform p textarea {
    width: 99%;
}

.commentform p input {
    height: 30px;
    font-size: 20px;
    font-weight: 200;
}

.commentform label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.commentform .required {
    color: #FF3F00;
}

.commentform p .button {
    display: inline-block;
    width: inherit;
    height: inherit;
    background-color: rgba(255,60,0,0.8);
    color: #FFF;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    border: none;
    
    font-family: "Lato", san-serif;
}
    
    .commentform p .button:hover {
        background-color: #555;
    }
    
    .commentform p .button:active {
        background-color: #333;
    }

    .commentform p .button i {
        margin-right: 8px;
    }

/* #Sidebar 
================================================== */

.sidebar h2 { 
    font-size: 16px; 
    line-height: 26px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.widget { 
    width: auto;
    margin-bottom: 20px;
}

.search {
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 20px;
}

.search input[type="text"] {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid rgba(0,0,0,.25);
    border-top: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid #b2b2b2;
    border-bottom: 1px solid rgba(0,0,0,.25);
    border-right: 0;
    padding: .375em 0 .375em .55em;
    margin-bottom: 0;
    width: 69%;
    line-height: 2em;
    font-size: 1em;
    height: 2em;
    vertical-align: top;
}

.search .search_submit {
    position: relative;
    left: -4px;
    color: #fff;
    margin: 0;
    max-width: 25%;
    line-height: 2.8em;
    height: 2.9em;
    padding: 0 1em;
    text-transform: uppercase;
    background: #FF972F;
    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,151,47) 0%,rgb(236,95,0) 100%); 
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,151,47)),color-stop(1, rgb(236,95,0)));
    background-image:-webkit-linear-gradient(-90deg,rgb(255,151,47) 0%,rgb(236,95,0) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(255,151,47) 0%,rgb(236,95,0) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(255,151,47) 0%,rgb(236,95,0) 100%);
    background-image:linear-gradient(-90deg,rgb(255,151,47) 0%,rgb(236,95,0) 100%);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff972f,endColorstr=#ffec5f00,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff972f,endColorstr=#ffec5f00,GradientType=0);
    border: 1px solid #E85431;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search .search_submit:hover {
    border: 1px solid #FF0000;
}

.search .search_submit:active {
    color: #FFF;
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,.4);
}

.ads { width: auto; }
.ads a { width: 47%; float: left; margin-right: 5%; margin-top: 20px; }
.ads a:nth-child(even) { margin-right: 0; }
.ads a img { opacity: 0.8; }
.ads a img:hover { opacity: 1; }

.todo {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo ul { list-style: none; }

.todo:before, .todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.todo-list li {
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + .toggle:after{
	opacity: 1;
}

.todo-list .toggle {
    display: block;
	height: 35px;
	width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
	cursor: pointer;
}

.toggle:after {
	content: '';
	position: absolute;
	position: absolute;
	width: 7px;
	height: 3px;
	background: transparent;
	top: 14px;
	left: 13px;
	border: 2px solid #aaa;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
}

.todo-list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before, .todo-list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
.todo-controls {
    margin: 0 15px 12px 50px;
    height: 12px;
}

.todo-controls li { float: left; font-size: 12px; }

.todo-controls li + li { margin-left: 10px }

.todo-controls .right { float: right }

.todo-controls a {
    display: block;
    margin: 0;
    opacity: .6;
}

.todo-controls a:hover { opacity: 1 }

.todo-pagination {
    margin: 12px 12px 0 50px;
    height: 22px;
}

.todo-pagination li { float: left }

.todo-pagination .next { float: right }

.todo-pagination .next i { margin: 0 0 0 2px }

.todo-pagination a, .todo-pagination span {
    display: block;
    line-height: 22px;
    font-size: 11px;
    color: #676f7f;
}

.todo-pagination a {
    padding: 0 8px;
    text-shadow: 0 1px #fff;
    background: #f1f0f0;
    border-radius: 3px;
}

.todo-pagination a:hover {
    background: #e9e9e9;
    text-decoration: none;
}

.todo-pagination span {
    padding: 0 4px;
    opacity: .3;
}

/* #Portfolio
================================================== */

#filters {
	padding: 0;
	margin-top: 25px;
	text-align: center;
}

.portfolio hr {
	border-color: rgba(0,0,0,0.1);
}

#filters li {
	margin-left: 0;
	list-style: none;
	display: inline-block;
}

#filters li a {
	font-size: 12px;
	margin-left: 10px;
	padding: 5px 10px;
	color: #666;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#filters li a:hover,
.portfolio #filters li a.active {
	background: #F60;
	color: #fff;
}

#filters li a:active {
	background-color: transparent;
	color: #666666;
	box-shadow: 0 0 5px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
}

.portfolio #portfolio-filter {
	width: auto;
}

.portfolio #portfolio-filter .item {
}

.portfolio #portfolio-filter.four-columns .item {
	height: 230px;
}

.portfolio .item {
	height: 290px;
	position: relative;
	text-align: center;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	margin-bottom: 40px;
}

.portfolio .item img {
	max-width: 100% !important;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.portfolio .item:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
	border: 1px solid rgba(0,0,0,0.2);
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.portfolio .item a img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.portfolio .item:hover {
	border-bottom: 2px solid #F60;
}

.portfolio .item a {
	color: #333;
	text-decoration: none;
}

.portfolio .item h4 {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 12px;
	line-height: 16px;
}

.portfolio .item p {
	font-size: 12px;
	margin-top: 5px;
	color: #999;
}

.portfolio-single .carousel .carousel-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 80px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
    
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.portfolio-single .carousel .left {
	background: #fff url(../img/arrow_left.png) no-repeat center center;
    opacity: 1;
}
    
    .portfolio-single .carousel .left:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.portfolio-single .carousel .right {
	background: #fff url(../img/arrow_right.png) no-repeat center center;
    opacity: 1;
}
    
    .portfolio-single .carousel .right:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.post-info p, .post-info p a {
    height: 24px;
    line-height: 24px;
    display: block;
    color: #666;
    margin: 5px 0;
}

    .post-info p:hover,  .post-info p a:hover {
        color: rgba(255,60,0,0.8);
        cursor: pointer;
    }

    .post-info p:hover > span, .post-info p a:hover > span {
        background-color: rgba(255,60,0,0.8);
    }

.post-info p span {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #CCC;
    color: #FFF;
    text-align: center;
    margin-right: 10px;
}

/* #Carousel Slider
================================================== */

.gallery-slider .carousel {
    max-height: 500px;
    height: 500px;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.gallery-slider {
    margin: 20px 0 0 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.25);
    box-shadow:0px 1px 1px rgba(0,0,0,0.25);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true);
}

.gallery-slider .carousel .item {
    max-height: 500px;
    overflow: hidden;
    
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.gallery-slider .carousel img {
    max-width: 100%;
    background: transparent;
}

.gallery-slider .carousel .carousel-caption {
    position: absolute;
    bottom: 15%;
    background: transparent;
    text-align: center;
}

.gallery-slider .carousel .carousel-caption h2 {
    display: inline-block;
    background-color: rgba(255,60,0,0.8);
    color: #FFF;
    padding: 0 20px;
    margin: 0;
    font-weight: 300;
}
    
.gallery-slider .carousel .carousel-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 80px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
}

.gallery-slider .carousel .active.left,
.gallery-slider .carousel .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.gallery-slider .carousel .left {
	background: #fff url(../img/arrow_left.png) no-repeat center center;
    opacity: 1;
}
    
    .slider .carousel .left:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.gallery-slider .carousel .right {
	background: #fff url(../img/arrow_right.png) no-repeat center center;
    opacity: 1;
}
    
    .gallery-slider .carousel .right:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.gallery-slider .carousel img {
    width: 100%;
}

.slider-progress {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: 3px;
    background: #f60;
    -moz-animation:slider-progress 30s infinite;
    -webkit-animation:slider-progress 30s infinite;
    -moz-transition:all 150ms ease-in;
    -webkit-transition:all 150ms ease-in;
    -o-transition:all 150ms ease-in;
}
@-webkit-keyframes slider-progress {
    0% {width:0px; opacity:0;}
    2% {width:0px; opacity:1;}
    20% {width:100%; opacity:1;}
    22.5% {width:100%; opacity:0;}
    22.59% {width:0px;}
    25% {width:0px; opacity:1;}
    45% {width:100%; opacity:1;}
    47.5% {width:100%; opacity:0;}
    47.59% {width:0px;}
    50% {width:0px; opacity:1;}
    70% {width:100%; opacity:1;}
    72.5% {width:100%; opacity:0;}
    72.59% {width:0px;}
    75% {width:0px; opacity:1;}
    95% {width:100%; opacity:1;}
    98% {width:100%; opacity:0;}
    100% {width:0px; opacity:0;}
}
@-moz-keyframes slider-progress {
    0% {width:0px; opacity:0;}
    2% {width:0px; opacity:1;}
    20% {width:100%; opacity:1;}
    22.5% {width:100%; opacity:0;}
    22.59% {width:0px;}
    25% {width:0px; opacity:1;}
    45% {width:100%; opacity:1;}
    47.5% {width:100%; opacity:0;}
    47.59% {width:0px;}
    50% {width:0px; opacity:1;}
    70% {width:100%; opacity:1;}
    72.5% {width:100%; opacity:0;}
    72.59% {width:0px;}
    75% {width:0px; opacity:1;}
    95% {width:100%; opacity:1;}
    98% {width:100%; opacity:0;}
    100% {width:0px; opacity:0;}
}


/* #Parallax
================================================== */

.parallax {
    background: rgba(255,60,0,0.8);
    overflow: hidden;
    z-index: 0;
}

.parallax .carousel .carousel-caption {
    position: absolute;
    bottom: 0 !important;
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow: hidden;
}

.parallax .carousel .carousel-caption .carousel-middle {
    height: 100%;
    width: auto;
    text-align: center;
    padding: 50px 0;
}

.parallax .carousel .item {
    max-height: 500px;
    overflow: hidden;
    background: transparent;
    
    -webkit-transition: left 2s ease-in-out;
    -moz-transition: left 2s ease-in-out;
    -ms-transition: left 2s ease-in-out;
    -o-transition: left 2s ease-in-out;
    transition: left 2s ease-in-out;
}

.parallax .carousel .item h2 {
    background: transparent;
    font-weight: 300;
    display: block;
    padding: 0;
    margin-bottom: 20px;
    font-size: 50px;
}

.parallax .carousel .item h2 i {
    font-weight: 300;
}

.parallax .carousel .item p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 150%;
    margin-bottom: 20px;
}

.parallax .carousel .item p.circle-icon {
    display: inline-block;
    font-size: 90px;
    width: 110px;
    height: 110px;
    padding: 0;
    line-height: 110px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 2px solid #FFF;
}


/*** Beautiful CSS Tabs ***/

ul.tabs { 
    border-bottom: 1px dotted #ccc; 
}

ul.tabs li { 
    text-align: center; 
    list-style: none; 
    display: inline-block;
}
ul.tabs li.active {  border-top: 5px solid rgba(255,60,0,0.8);  margin-top: -5px; margin-bottom:-1px;}
ul.tabs li.active a { border-left: 1px dotted #ccc; border-right: 1px dotted #ccc;}

ul.tabs li a { color: #666;display: block;  font-size: 16px; font-weight: 400;  height: auto;  line-height: normal; padding: 20px 0;  position: relative;}
ul.tabs li a:hover {}
ul.tabs li a:focus {}

ul.tabs li a {
    padding: 20px 5px;
}

ul tabs li ul {
    width: 24.745%;
}

ul.tabs li ul li {
    display: inline;
}

ul.tabs li .dropdown-menu { border-radius: 0px; width: 100%; box-shadow: none; border: 1px dotted #ccc; }

ul.tabs li ul { border: none; }

ul.tabs li dropdown-menu li a { border: none; }

ul.tabs li ul.dropdown-menu li a:hover { background: rgba(255,60,0,0.8); }

ul.tabs li .dropdown-menu .active > a, .dropdown-menu .active > a:hover { background: rgba(255,60,0,0.8); color: #FFF; }

.tab-content { border: 1px dotted #ccc; border-top:none; width:auto; padding: 20px; }
.tabs.vertical li.active, .tabs.vertical li.active { border-bottom:0px !important;}


/* #Members Page
================================================== */

.members-icons {

}

ul.members-icons {
    list-style: none;
}

.members-icons li a {
    display: block;
    height: 100%;
    text-align: center;
    padding: 20px;
    color: #666666;
    text-shadow: 0 2px 0 rgba(255,255,255,0.9);
    
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true);
    
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.members-icons li a i {
    font-size: 80px;
    text-align: center;
}

.members-icons li a span {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.members-icons li a:hover {
    color: #FF7F00;
    background-color:rgb(255,255,255);
    text-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

.members-icons li a.active {
    color: #FF7F00;
    background-color:rgb(255,255,255);
    text-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

.members-icons li a:active {
    color: rgb(255,255,255);
    background-color: #FF7F00;
}

/*** Member Downloads ***/

.member-downloads-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

    .member-downloads-header span {
        padding: 0 10px;
    }

.member-downloads-header [class*="span"] {
    font-weight: bold;
    padding: 10px 0;
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.5);
}

.member-downloads .row {
}

    .member-downloads span {
        padding: 0 10px;
    }

    .member-downloads .row:nth-child(even) > [class*="span"] {
        background-color: rgba(0,0,0,0.05);
    }

.member-downloads .row [class*="span"] {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
}

.member-downloads a {
    display: block;
}
    
/* #Contact Form
================================================== */

.contact label {
    padding-top: 10px;
    font-size: 16px;
}

.contact input {
    height: 40px;
}

.contact-address address {
    font-size: 14px;
    margin: 10px 0 0;
    padding-left: 25px;
    position: relative;
}

    .contact-address address i {
        width: 15px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 3px;
    }

    .contact-address h3 {
        margin-top: 0;
    }
    
/* #Animations
================================================== */

.copyright {
	font-size: 12px;
	padding: 20px 0;
	letter-spacing: 0;
	border-top: 2px solid rgba(0,0,0,0.1);
}



/* #Animations
================================================== */

@-webkit-keyframes bounce {
	0% { opacity: 0; -webkit-transform: translateY(-2000px); }
	60% { opacity: 1; -webkit-transform: translateY(30px); }
	80% { -webkit-transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); }
}

@-moz-keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(-2000px); }
	60% { opacity: 1; -moz-transform: translateY(30px); }
	80% { -moz-transform: translateY(-10px); }
	100% { -moz-transform: translateY(0); }
}

@-ms-keyframes bounce {
	0% { opacity: 0; -ms-transform: translateY(-2000px); }
	60% { opacity: 1; -ms-transform: translateY(30px); }
	80% { -ms-transform: translateY(-10px); }
	100% { -ms-transform: translateY(0); }
}

@-o-keyframes bounce {
	0% { opacity: 0; -o-transform: translateY(-2000px); }
	60% { opacity: 1; -o-transform: translateY(30px); }
	80% { -o-transform: translateY(-10px); }
	100% { -o-transform: translateY(0); }
}

@keyframes bounce {
	0% { opacity: 0; transform: translateY(-2000px); }
	60% { opacity: 1; transform: translateY(30px); }
	80% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

.bounce {
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-ms-animation: bounce 1s;
	-o-animation: bounce 1s;
	animation: bounce 1s;
}

@-webkit-keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.appear {
	-webkit-animation: appear 5s;
	-moz-animation: appear 5s;
	-ms-animation: appear 5s;
	-o-animation: appear 5s;
	animation: appear 5s;
}
















/* #Short Codes
================================================== */

/* -----------------------------------------
   Creative Headings
----------------------------------------- */	
.title {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAMdHR3/GZHFQAIVFRWMcEGYAEgRWBBZACyILgASBACKlBKds05HLAAAAABJRU5ErkJggg==) repeat;
	margin-top: 20px;
	margin-bottom: 20px;
}

.title h3 {
	height: 100%;
	display: inline-block;
	padding: 5px 20px;
	background: #EEEEEE url('../img/background.png') center top;
	margin-left: 10px;
	font-size: 15px;
	text-transform: uppercase;
}

.title_main {
	border-bottom: 2px solid rgba(0,0,0,0.05);
	padding: 30px 10px;
	background: rgba(255,255,255,0.5) url('../img/noise_lines.png') center top;
	width: auto;
	text-align: center;
}

.font-calendar {
	width: auto;
	background-color: #F9F9F9;
	color: #555555;
	border-bottom: 1px solid #DDDDDD;
	text-transform: none;
	padding: 10px;
	margin: 0;
}

/* -----------------------------------------
   Shadows
----------------------------------------- */
.drop-shadow {
    position:relative;
    width:auto;
    /*padding:1em;
    margin:2em 10px 4em;*/
    margin: 15px 0;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    /*text-align: center;*/
    margin-bottom: 0;
}

/* Lifted corners */

.lifted {
    -moz-border-radius:4px;
         border-radius:4px;
}

.lifted:before,
.lifted:after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

/* Curled corners */

.curled {
    border:1px solid #efefef;
    -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
         border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
    bottom:12px;
    left:10px;
    width:50%;
    height:55%;
    max-width:200px;
    max-height:100px;
    -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
            box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
    -webkit-transform:skew(-8deg) rotate(-3deg);
       -moz-transform:skew(-8deg) rotate(-3deg);
        -ms-transform:skew(-8deg) rotate(-3deg);
         -o-transform:skew(-8deg) rotate(-3deg);
            transform:skew(-8deg) rotate(-3deg);
}

.curled:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* Curved shadows */

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}

.curved-vt-2:before {
    right:0;
}

.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

/* -----------------------------------------
   Paged Effect
----------------------------------------- */

.paged {
    position: relative;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.paged:before, .paged:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.paged:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.paged:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.inner-container {
	width: auto;
	padding: 10px 10px;
	margin: 0 auto;
}

.inner-container:hover {	
	color: #666666;
}

/* -----------------------------------------
   Lists
----------------------------------------- */	

ol{
	padding: 0;
	margin: 0;
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
	margin: 0 0 0 2em;
}

ol li{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background-color: #EEEEEE;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;	
	line-height: 1.5em;
}

ol li:hover{
	background-color: #FFFFFF;
}	

ol li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #ff6600;
	color: #FFFFFF;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

ol li:after{
	position: absolute;	
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;				
}

ol li:hover:after{
	left: -.5em;
	border-left-color: #ff6600;				
}

ul.list1{ 
	padding:0; 
	margin:0px; 
	list-style:none; 
	display:block;
	float:left;
	width: 100%;
}

ul.list1 li { 
	padding: 5px 10px 5px 2px; 
	margin: 0px; 
	display: block; 
	width: 100%;
}

ul.list1 li:before {
   content: "\00BB ";
   padding-right: 10px;
   color: #00ACFF;
}

ul.list1 li:hover { 
	background-color: #e5e5e5;
}

ul.thumbnails {
	list-style: none;
}

ul.thumbnails li a {
	opacity: 0.7;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

ul.thumbnails li a:hover {
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

ul.checklist {
   margin: 0 0 1.5em 1.5em; 
}

ul.checklist li {
   list-style-image: url(../img/uncheck.gif);
   border-bottom: 1px solid #e9e9e9;
   padding: .4em 0 .4em .5em;
   color: #666; 
   line-height: 1.7em;
}

ul.checklist li:hover {
   cursor: pointer;
   list-style-image: url(../img/check.gif);
   background-color: #f2f2f2;
   color: #000; 
}

/* -----------------------------------------
   Pricing Table
----------------------------------------- */	

.normal-plan {
    display: inline-block;
    background:#fff;
    border:1px solid #DDD;
    margin-top:7px;
}
.normal-plan:hover {
    box-shadow:0 2px 12px rgba(0,0,0,0.25);
    z-index: 10;
}
.promoted-plan {
    display: inline-block;
    background: #fff;
    box-shadow:0 2px 12px rgba(0,0,0,0.25);
    border:solid 5px #FF7F00;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.plan-container {
	margin: 20px;
}

.promoted-plan ul, .normal-plan ul {
	list-style: none;
	margin: 0;
}

h2.plans {
    margin-bottom:0;
    text-align:center;
}

h4.plans {
    text-align:center;
    font-weight: 400;
    font-size: 16px;
}

.tblheader p {
    text-align:center;
    margin-top: 15px;
    font-size: 12px;
}

.promoted-plan ul li,.normal-plan ul li {
    border-bottom:1px solid #eee;
    text-align:center;
    padding:10px 0;
}

.promoted-plan ul li:hover,.normal-plan ul li:hover {
    background: #f9f9f9;
}

.promoted-plan ul li:last-child,.normal-plan ul li:last-child {
    border-bottom:none;
}

.center-button {
    text-align:center;
    margin-top: 10px;
}

.tblname {
    font-weight: bold;
}

.tblprice {
    background: #f3f3f3;
    padding: 10px 5px;
    color: #444;
}

.spacer {
    width: auto;
    height: 50px;
    clear: both;
    
}

/* #Misc
================================================== */

#widget {
	width:100%;
	position:relative;
	z-index:999999;
	display:block;
	color: #FFFFFF;
	background-color: #FF7F00;
}

#widget .widget_container {
	position:relative;
	height:auto;
	display:none;
	width: auto;
	padding-top: 5px;
}

.toggle {
	position:absolute;
	width: 50px;
	height: 45px;
	right: 0;
	display:block;
	background: url('../img/toggle.png') top right;
}

.toggle_active {
	background-position: bottom right;
}

.widget_container input {
	width: 150px;
	border: none;
	border-bottom: 2px solid #333333;
	background-color: rgba(255,255,255,0.1);
	
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	
}

.widget_container input:focus {
	background: #FFFFFF;
}

/*** Conditions & Misc Callouts ***/

.mobile-only {display: none;}

/*::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow:inset 1px 1px 5px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
  background: transparent;
}*/

::selection {
	background: #FFE0CC;
}
::-moz-selection {
	background: #FFE0CC;
}

.responsive-image { max-width: 100%; }

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom, .margin-bottom { margin-bottom: 20px !important; }
.add-bottom-large, .margin-bottom-large { margin-bottom: 50px !important; }
.add-bottom-exlarge, .margin-bottom-exlarge { margin-bottom: 100px !important; }
.add-top, .margin-top { margin-top: 20px !important; }
.add-top-medium, .margin-top-medium { margin-top: 30px !important; }
.add-top-large, .margin-top-large { margin-top: 50px !important; }
.add-top-exlarge, .margin-top-exlarge { margin-top: 100px !important; }
.add-left {margin-left: 20px;}
.margin-tb-large { margin-top: 50px !important; margin-bottom: 50px !important; }
.margin-tb-medium { margin-top: 25px !important; margin-bottom: 25px !important; }
.margin-tb-small { margin-top: 10px !important; margin-bottom: 10px !important; }
.margin-lr-large { margin-left: 0 50px !important; }
.margin-lr-medium { margin: 0 25px !important; }
.margin-lr-small { margin: 0 10px !important; }
.margin-auto { margin-left: auto; margin-right: auto; }
.no-margin { margin-left: 0; margin-right: 0; }
.padding-tb-exlarge { padding: 50px 0 !important; }
.padding-tb-large { padding: 30px 0 !important; }
.padding-tb-medium { padding: 20px 0 !important; }
.padding-tb-small { padding: 10px 0 !important; }
.padding-lr-large { margin: 0 30px !important; }
.padding-lr-medium { margin: 0 20px !important; }
.padding-lr-small { margin: 0 10px !important; }
.padding-right { padding-right: 20px; }
.padding-left { padding-left: 20px; }
.padding-large { padding: 30px !important;}
.padding-medium { padding: 20px !important;}
.padding-small { padding: 10px !important;}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.image-left { float: left; margin-right: 15px; margin-bottom: 5px; }
.image-left-dashed-dark { 	float: left; margin-right: 15px; margin-top: 5px; border: 1px dashed #999; padding: 8px; }

.min-height { height: 100px; }

.border-right { border-right: 1px solid #999999;}
.border-bottom { border-bottom: 1px solid #999999;}
.border-left { border-left: 1px solid #999999;}
.border-top { border-top: 1px solid #999999;}
.border { border: 1px solid rgba(0,0,0,0.1); }

.color-orange { color: #F60; }
.color-white { color: #FFFFFF; }
.color-yellow { color: #FFF222; }
.color-green { color: #D2EF28; }

.single-space { line-height: 1em; }
.half-space { line-height: 1.5em;}
.double-space { line-height: 2em; }

.font-size-100 { font-size: 100px; }
.font-size-90 { font-size: 90px; }
.font-size-80 { font-size: 80px; }
.font-size-70 { font-size: 70px; }
.font-size-60 { font-size: 60px; }
.font-size-50 { font-size: 50px; }
.font-size-40 { font-size: 40px; }
.font-size-30 { font-size: 30px; }
.font-size-20 { font-size: 20px; }
.font-size-10 { font-size: 10px; }

.background-white { background-color: #FFFFFF; }
.background-black { background-color: #000000; }

/***Colors and Patterns***/

.bg-white { background-color: #FFFFFF; }
.bg-black { background-color: #000000; }
.bg-charcoal { background-color: #999999; }
.bg-grey { background-color: #666666; }
.bg-light { background-color: #EEEEEE; }
.bg-orange { background-color: #ff9900; }
.bg-blue { background-color: #0099cc; }
.bg-green { background-color: #079E44; }
.bg-pink { background-color: #FFCFBF; }
.bg-noise { background: rgba(255,255,255,0.5) url('../img/noise_lines.png') center top; }

.bg-grunge { background: url('../images/bg/grunge.jpg') center top; }
.bg-color { background: url('../images/bg/colorful.jpg') center top; }
.bg-plad { background: url('../images/bg/plad.gif') center center; }
.bg-cork { background: url('../images/bg/cork.jpg') center center; }
.bg-diamond { background: url('../images/bg/diamond.png') center center; }
.bg-dots { background: url('../images/bg/dots.png') center center; }
.bg-fabric { background: url('../images/bg/fabric.jpg') center center; }
.bg-grass { background: url('../images/bg/grass.jpg') center center; }
.bg-metal { background: url('../images/bg/metal.jpg') center center; }
.bg-weave { background: url('../images/bg/weave.png') center center; }

/***Positions***/
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.position-static { position: static; }


/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.0.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
li [class^="icon-"],
.nav li [class^="icon-"],
li [class*=" icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}
.icon-muted {
  color: #eeeeee;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
  .btn .icon-spin {
    height: auto;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
    header { max-width: 96%; }
}
@media only screen and (max-width: 959px) {
    header { max-width: 96%; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body { overflow-x: hidden; overflow-y: scroll; }
    [class*="span"] { width: auto !important; display: block !important; float: none; }
    header { max-width: 96%; }
    .skills .container { width: auto; }
	.section { width: auto; margin: 0; float: none; }
	.section:after { clear: left; }
	.mobile-only {width: auto;}
	.mobile-only img {width: 100%;}
	.mobile-center { text-align: center !important; }
	
	.navigation ul { display: none; }
	.navigation select { display: block; width: 100%; font-size: 20px; height: 50px; border: none; background-color: #f5f5f5; }
	header { width: 94%; }
	
	.intro_title { margin-top: 100px; }
    
    .gallery-slider .carousel { height: 400px; max-height: 400px; }
    .parallax .carousel .carousel-caption { top: 0; }
    .comment-image { display: none; }
    
    .members-icons li.span2 { width: 15% !important; display: inline-block !important; padding: 0; margin-left: 8px; }
    .members-icons li a { display: block; }
    .members-icons li a i { font-size: 16px; }
    .members-icons li a span { display: none; }
    .member-downloads, .member-downloads-header [class*="span"] { text-align: center; }
    .member-downloads-header [class*="span"] { border-bottom: 0; }
    .member-downloads-header [class*="span"]:last-child { border-bottom: 2px solid rgba(0,0,0,0.3); }
    
    .sidebar { margin-top: 20px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	body { overflow-x: hidden; overflow-y: scroll; }
    [class*="span"] { width: auto !important; display: block !important; float: none; }
    header { max-width: 96%; }
    .skills .container { width: auto; }
	.section { width: auto; margin: 0; float: none; }
	.section:after { clear: left; }
	.row { width: 90%; margin-left: auto; margin-right: auto;}
	.mobile-only {width: auto; display: block;}
	.mobile-only img {width: 100%;}
	.mobile-center { text-align: center !important; }
	
	.navigation ul { display: none; }
	.navigation select { display: block; width: 100%; font-size: 20px; height: 50px; border: none; background-color: #f5f5f5; }
	header { width: 94%; }
	
	.intro_title { margin-top: 100px; }
	
	.slider #slider .caption-1,
	.slider #slider .caption-3 {left: -10%;}
	
	.slider #slider .caption-2 {right: -15%;}
	
	.slider #slider .caption-4 {right: -18%;}
	
	.slider  h1, .slider  h2{
		text-shadow: 0px 10px 3px #FFF; 
	}
    .gallery-slider .carousel { height: 300px; max-height: 300px; }
    .parallax .carousel .carousel-caption { top: 0; }
    
    .home_twitter { background: none; }
    .home_testimonial { background: none; }
    .comment-image { display: none; }
    
    .members-icons li.span2 { width: 15% !important; display: inline-block !important; padding: 0; margin-left: 5px; }
    .members-icons li a { display: block; }
    .members-icons li a i { font-size: 16px; }
    .members-icons li a span { display: none; }
    .member-downloads, .member-downloads-header [class*="span"] { text-align: center; }
    .member-downloads-header [class*="span"] { border-bottom: 0; }
    .member-downloads-header [class*="span"]:last-child { border-bottom: 2px solid rgba(0,0,0,0.3); }
    
    .sidebar { margin-top: 20px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body { overflow-x: hidden; overflow-y: scroll; }
    [class*="span"] { width: auto !important; display: block !important; float: none; }
    header { max-width: 96%; }
    .skills .container { width: auto; }
	.section { width: auto; margin: 0; float: none; }
	.section:after { clear: left; }
	.container { margin: 0;}
	.row { width: 90%; margin-left: auto; margin-right: auto;}
	.mobile-nav { width: 100%; display: block; }
	.no-mobile { display: none; }
	.mobile-center { text-align: center !important; }
	.mobile-only {width: auto; display: block; max-height:inherit;}
	.mobile-only img {width: 100%;}
	
	.navigation ul { display: none; }
	.navigation select { display: block; width: 100%; font-size: 20px; height: 50px; border: none; background-color: #f5f5f5; }
	header { width: 94%; }
    .gallery-slider .carousel { height: 300px; max-height: 300px; }
    .parallax .carousel .carousel-caption { top: 0; }
	
	.intro_title {font-size: 40px; margin-top: 100px; }
	.title {font-size: 40px; }
    
    .home_twitter { background: none; }
    .home_testimonial { background: none; }
    .comment-image { display: none; }
    
    .members-icons li.span2 { width: 15% !important; display: inline-block !important; padding: 0; margin-left: 3px; }
    .members-icons li a { display: block; }
    .members-icons li a i { font-size: 16px; }
    .members-icons li a span { display: none; }
    .member-downloads, .member-downloads-header [class*="span"] { text-align: center; }
    .member-downloads-header [class*="span"] { border-bottom: 0; }
    .member-downloads-header [class*="span"]:last-child { border-bottom: 2px solid rgba(0,0,0,0.3); }
    
    .sidebar { margin-top: 20px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body { width: auto; margin: 0; overflow-x: hidden; overflow-y: scroll; }
    header { max-width: 96%; }
    .skills .container { width: auto; }
	.section { width: auto; margin: 0; float: none; }
	.section:after { clear: left; }
	.container { margin: 0;}
	.row { width: 90%; margin-left: auto; margin-right: auto;}
	.mobile-nav { width: 100%; display: block; }
	.no-mobile { display: none; }
	.mobile-center { text-align: center !important; }
	.mobile-only {width: auto; display: block;}
	.mobile-only img {width: 100%;}
	
	.navigation ul { display: none; }
	.navigation select { display: block; width: 100%; font-size: 20px; height: 50px; border: none; background-color: #f5f5f5; }
	header { width: 94%; }
    .gallery-slider .carousel { height: 200px; max-height: 200px; overflow: hidden; }
    .parallax .carousel .carousel-caption { top: 0; }
	
	.intro_title {font-size: 40px; margin-top: 100px; }
	.title {font-size: 40px; }
    
    .home_twitter { background: none; }
    .home_testimonial { background: none; }
    .comment-image { display: none; }
    
    .members-icons li.span2 { width: 15% !important; display: inline-block !important; padding: 0; margin-left: 0; }
    .members-icons li a { display: block; }
    .members-icons li a i { font-size: 16px; }
    .members-icons li a span { display: none; }
    .member-downloads, .member-downloads-header [class*="span"] { text-align: center; }
    .member-downloads-header [class*="span"] { border-bottom: 0; }
    .member-downloads-header [class*="span"]:last-child { border-bottom: 2px solid rgba(0,0,0,0.3); }
    
    .sidebar { margin-top: 20px; }
        
}